[2017-02-04 23:47] mancoast commented on #195
Can someone add the help menu with a working example to any PDF?
What are thoughts regarding inclusion of PDF's in next release build-package?

[2017-02-04 23:48] mancoast commented on #185
closed --> see OpenCL Project
https://github.com/buddhi1980/mandelbulber2/projects/2

[2017-02-04 23:48] #185 closed

[2017-02-05 00:00] mancoast commented on #135
Automatic 512-bit Vectorizer using OpenCL. - Intel OpenCL™ Implicit Vectorization Module overview at http://llvm.org/devmtg/2011-11/Rotem_IntelOpenCLSDKVectorizer.pdf

[2017-02-05 00:00] #135 closed

[2017-02-05 00:21] mancoast commented on #224
latest build - can not reproduce.

[2017-02-05 00:21] #224 closed

[2017-02-05 00:24] mancoast commented on #184
@buddhi1980 @zebastian
I think should be repaired if we want to release 2.10 with stable gamepad controls.
What do you guys think?

[2017-02-05 00:25] mancoast commented on #197
requires https://github.com/buddhi1980/mandelbulber2/issues/225

[2017-02-05 08:13] buddhi1980 commented on #184
@mancoast, You wrote:

So, what is the action? Do you need any help?

[2017-02-05 09:21] buddhi1980 commented on #149
I cannot reproduce this bug. Maybe it's already fixed (???)

[2017-02-05 09:38] buddhi1980 commented on #226
Fixed in commit https://github.com/buddhi1980/mandelbulber2/commit/4b9f8b0d82c80eb413814450e8233578257c76fb

[2017-02-05 09:38] #226 closed

[2017-02-05 10:13] zebastian commented on #213
i will look into this for the next release...

[2017-02-05 10:14] zebastian commented on #206
for next release

[2017-02-05 10:18] zebastian commented on #96
can we close this off?

[2017-02-05 10:23] buddhi1980 commented on #96
I think we can.

[2017-02-05 10:23] #96 closed

[2017-02-05 10:24] zebastian opened #228 "Implement #ifdef HAVE_BOINC"
Reference NFS@Home
https://github.com/mancoast/lasieve5-boinc/commit/e047f7c70cdb77b7839aa760c3d0ee6688d7c3bd

[2017-02-05 10:24] zebastian commented on #228
We can do that, but we should avoid the spaghetti code in main.cpp, better to create a new class file boinc.cpp|h and only one HAVE_BOINC if else in main cpp to start the class.

[2017-02-05 15:27] mancoast commented on #228
@zebastian  Your plan, new class files boinc.cpp|h and only one HAVE_BOINC if-else block in application entry, sounds optimal. This is very exciting! Given boinc, we can then utilize science-cloud based projects like Chameleon Cloud at TACC.  I will gladly request as many resources as professors will allocate!  For our main boinc work queue, we can queue up animations on a whole new level for glob

[2017-02-06 20:33] buddhi1980 commented on #84
Can we close this?

[2017-02-06 20:36] buddhi1980 commented on #100
@mclarekin, is this already implemented?

[2017-02-06 20:42] #134 closed

[2017-02-06 21:20] zebastian commented on #84
no not yet, i will work in this issue the next couple of months and add more tests, so its good to have it as a reminder

[2017-02-06 21:23] zebastian commented on #147
this is still an issue, the includes should be ordered and unnecessary includes removed, i will look into this, if i need help, i will assign me some :)

[2017-02-06 21:30] zebastian opened #229 "spelling cleanup"
known words to the program should be added to .spelling/mandelbulber.dic
any misspellings should be fixed in the code, including:
- simple misspellings: refference -> reference
- not camelCased words: filename -> fileName
since this may break some translation strings, this should be scheduled for next release.
I can do this on my own, but help would be appreciated :)

[2017-02-07 01:01] mclarekin commented on #100
Not implemented. An enhancement  that is  not high on my priority list.

On Tue, Feb 7, 2017 at 9:36 AM, Krzysztof Marczak <notifications@github.com>
wrote:

[2017-02-07 09:29] mclarekin commented on #222
A mode that allows _sound_ (0 silent, to 1 maximum) to have a logarithmic scale. This may work better with some types of parameters.

[2017-02-07 15:57] mancoast commented on #155
https://ci.appveyor.com/project/mancoast/gsl/build/artifacts
cross of library gsl complete for k1om. require qt png jpeg

[2017-02-08 19:42] #227 closed

[2017-02-10 18:26] buddhi1980 opened #230 "Wrong file names when contains dot"
archive names with dots can be given to .fract files
However, for image files, the name is cut down to the first occurrence of a dot:
c2i0E-1+2(-0.71;.59,-.06)(-.73;.59,.07)1280x1440st003lunitas.fract
but the image with the same name only saves
c2i0E-1+2(-0.png

Bug reported here: http://www.fractalforums.com/releases-b233/mandelbulber-v2-2-09/msg99670/#msg99670

[2017-02-10 18:30] buddhi1980 opened #231 "To allow detaching main image to separate window"
This will allow to have rendered image on separate display.

[2017-02-10 18:33] buddhi1980 opened #232 "When mouse functions as "move the camera" with the cursor, rename to "move camera and move target""
This label should respect settings from navigation panel. There are 3 possibilities:
- move camera and target
- move camera
- move target
Displayed label by the cursor should based on this selection

[2017-02-10 18:36] buddhi1980 opened #233 "Swapping of fractal tabs could cause loading of formulas to wrong slot"
To be confirmed:
I have played with swapping of fractal tabs, and then when I loaded fractal from toolbar, I have observed that loaded fractal appeared on wrong fractal tab.

[2017-02-10 18:37] buddhi1980 commented on #181
I can confirm that the application can crash when resolution is too high.

[2017-02-10 18:39] buddhi1980 opened #234 "Possibility to rotate background texture"
There can be added alpha and beta rotation values by background texture selector.

[2017-02-10 18:43] buddhi1980 opened #235 "Possibility to display frame number by keyframe numbers"
There was a request to add frame numbers by be keyframe numbers in keyframe animation table.
The question is if there is enough space for it. It could be done as an option which will replace time with frame number.

[2017-02-10 18:46] buddhi1980 opened #236 "Check for collission probably didn't refreshed interpolation cache"
There was observed the problem where check for collisions ("Validate") showed collision even after there were eliminated. There could be the problem with refreshing interpolation cache.
After animation was rendered it started to work properly.

[2017-02-10 18:49] buddhi1980 opened #237 "To change name of "Fractal" tab to "Objects""
There is suggestion to change name of "fractal" tab to "Objects" and "Fractal/Formulas" to "Objects/Fractals"

What you think about this proposal?

[2017-02-10 18:56] buddhi1980 opened #238 "Playing of sond doens't work under Win10"
The sound was properly loaded, but "Play sound" function didn't work under Win10. Nothing happened after pressing this button.
Tested mingw64 version.

[2017-02-10 20:11] mclarekin commented on #234
yes, and include scale, and horiz vert movement  see issue     #97

On Sat, Feb 11, 2017 at 7:39 AM, Krzysztof Marczak <notifications@github.com

[2017-02-10 21:40] mclarekin commented on #237
I have no preference.

On Sat, Feb 11, 2017 at 7:49 AM, Krzysztof Marczak <notifications@github.com

[2017-02-10 22:21] mancoast opened #239 "Increase default UI font size from 9 point"
![image](https://cloud.githubusercontent.com/assets/7040493/22846416/5ea712aa-efb5-11e6-9668-657e7f6742e4.png)

[2017-02-10 22:29] mancoast opened #240 "Rename "Program Settings" to "Program Preferences""
This removes recurrence of word "settings" improving intuition and reducing ambiguity.
I like to reserve "settings" forall "*.fract" files.
"options" listed as synonym of "settings"

Any thoughts?

[2017-02-10 23:10] mclarekin commented on #240
Yes, program options or even preferences

On Sat, Feb 11, 2017 at 11:29 AM, mancoast <notifications@github.com> wrote:

[2017-02-10 23:16] mclarekin commented on #239
My two cents. I work with a laptop screen so 12 font is what I use.

I guess the default should suit the most common size screen the majority of
users have.???

On Sat, Feb 11, 2017 at 11:21 AM, mancoast <notifications@github.com> wrote:

[2017-02-11 01:25] mancoast commented on #155
https://codereview.qt-project.org/#/c/185313/

[2017-02-11 05:52] mancoast opened #241 "Fractal Example Animations synchronized to Audio for Planetarium Projector - Spitz SciDome XD"
Demonstration support request for Spitz SciDome XD
https://www.spitzinc.com/planetarium/scidome/scidome-xd/

[2017-02-11 08:51] zebastian commented on #237
i agree to both points.
That would be consistent with the code since the generalization of all stuff to objects.

[2017-02-11 08:55] zebastian commented on #239
I am with graeme,

i often use my tiny e130 lenovo netbook and the default font size of 9 is working perfectly fine. Increasing it to 14 makes the ui unmanagable since there is not enough space.

[2017-02-11 08:56] zebastian commented on #240
"preferences" brings it to the point, in the code its also the preferences_dialog

[2017-02-11 09:26] zebastian commented on #238
neither does the appveyor (msvc) version work

[2017-02-11 09:43] buddhi1980 commented on #239
Some of people uses this application on 720p displays, so if we increase default font size, then the application will not fir into the screen size. I use 10 points font on 1440p 27inch display.
This is the reason why font size is customizable. I would only improve icons sizes for 4k displays. Maybe would be good to have another set of icons with double size.

[2017-02-11 09:44] buddhi1980 commented on #239
What you think to use QRect rec = QApplication::desktop()->screenGeometry() to get screen resolution and change default font size base in it?

[2017-02-11 10:29] #230 closed

[2017-02-11 12:20] buddhi1980 commented on #236
Fixed. There was missing call for ClearMorphCache()

[2017-02-11 12:20] #236 closed

[2017-02-11 12:27] buddhi1980 commented on #233
It is reproducible. I have similar issue on my PC in home.
Steps to reproduce:
- change first formula to e.g. KIFS
- swap first and second fractal tabs
- load menger sponge from toolbar
Then you will see that Menger Sponge is on first tab (which is correct), but on second tab there is Mandelbulb (where should be "None")

[2017-02-11 16:33] mancoast commented on #240
"Preferences" sounds optimal, i will adjust

[2017-02-11 16:56] mancoast commented on #239
@buddhi1980 I like your idea to adjust font size given screen geometry dimensions.
REF:
https://developers.google.com/speed/docs/insights/UseLegibleFontSizes

[2017-02-11 17:35] mancoast commented on #240
resolved:
https://github.com/buddhi1980/mandelbulber2/commit/e14a9f02e89eec63f0c23f6f4c5b1c372ccc2c75

[2017-02-11 17:35] #240 closed

[2017-02-11 17:38] mancoast commented on #241
@buddhi1980 @mclarekin @zebastian Any thoughts regarding design of this visual demonstration?  I want to include new feature https://github.com/buddhi1980/mandelbulber2/issues/234 [rotate backdrop imagery]

[2017-02-11 17:42] buddhi1980 commented on #241
Who requested support for it? This is quite bit topic and normally this kind of animations are not made for free.

[2017-02-11 17:45] mancoast commented on #241
I am trying to get free [copyleft] alumni access to OSU Planetarium:
https://planetarium.osu.edu/private-groups

[2017-02-11 18:15] buddhi1980 commented on #233
Fixed. Default values of parameters were moved with slots when there were swapped. Default for first slot is Mandelbulb. That's why Mandelbulb appeared on second tab.

[2017-02-11 18:15] #233 closed

[2017-02-11 18:43] buddhi1980 opened #242 "libsndfile doesn't load FLAC files under windows (mingw)"
There is missing libflac. We need to add it in setup-cross-compiller.
Libsndfile depends on it.

[2017-02-11 18:49] zebastian commented on #241
basic setting is pretty clear:
full dome projection in desired resolution (also stereosopic), try to get specification for the projector player software first, to get a good result.
Then "only" do an animation  and render it in the desired format. :)

[2017-02-11 19:37] mancoast commented on #241
Spitz support request created. We require SciDome XD PDF Datasheet.

[2017-02-11 20:00] mancoast commented on #231
Can we bump priority of this feature?

thanks, coast

[2017-02-11 20:08] mancoast opened #243 "Enable Windows QtMultimedia & MP3 Support using Windows Media Foundation"

[2017-02-11 20:08] mancoast opened #244 "Document Instructions for creation of Visualization from audio file (Add to HELP / release notes / feature list)"

[2017-02-11 20:10] mancoast commented on #195
@zebastian @buddhi1980 Please provide hint/instructions.

We require HELP menu for Documentation of new features. ex. https://github.com/buddhi1980/mandelbulber2/issues/244

[2017-02-11 20:12] buddhi1980 commented on #242
Updated cross-compile scripts in commit https://github.com/buddhi1980/mandelbulber2/commit/b9090171b1b71a89d6d1d62f7c292e50a1f646e8

TODO: test under win10 (was only tested with wine)

[2017-02-11 20:19] buddhi1980 commented on #231
I agree with you to prioritize it, but I'm not going to implement it in 2.10. This enhancement needs quite a lot changes in main window. RenderedImageWidget is not located in detachable dock.

[2017-02-11 20:20] zebastian commented on #195
I am using texstudio for latex text processing, this is also available for windows.
just install it and open the handbook.tex in the doc repository:
https://github.com/buddhi1980/mandelbulber_doc
with pdflatex -shell-escape handbook.tex you can render the final pdf

[2017-02-11 20:22] mancoast commented on #244
@buddhi1980 @zebastian We already have one fantastic PDF for Deployment on our HELP menu.

REF: http://www.fractalforums.com/mandelbulber/mandelbulber-animation-by-sound/
I will propagate documentation to new repo - https://github.com/buddhi1980/mandelbulber_doc

Thanks @mclarekin [Anim By Sound Multiple tracks tutorial v0.80.pdf](https://github.com/buddhi1980/mandelbulber2/files/768872/Anim.By.So

[2017-02-11 20:24] mancoast commented on #195
Sounds good, I will render the latest PDF and review, Thanks!

[2017-02-11 20:25] zebastian commented on #244
Oh yes, sure.
In the long run we should try to incorporate both existing help documents into the latex repository, so we can maintain it in the long term.

[2017-02-11 20:26] mancoast commented on #231
Sounds good, thanks! This instantly improves design efficiency.

On Sat, Feb 11, 2017 at 3:19 PM, Krzysztof Marczak <notifications@github.com

[2017-02-11 20:29] zebastian commented on #195
There is only the cover page / table of contents / proof of concept first dummy chapter yet. Sorry, have not come any further there...

[2017-02-11 20:29] mancoast commented on #244
No problemo, I will convert existing doc to Latex using Pandoc.

On Sat, Feb 11, 2017 at 3:25 PM, Sebastian Jennen <notifications@github.com>
wrote:

[2017-02-11 20:30] mancoast commented on #195
If you provide the odt /source for wiki and I can convert to latex

[2017-02-11 20:40] zebastian commented on #195
sure, here is the manual:
http://cdn.mandelbulber.org/doc/Mandelbulber_Manual_v091.odt
latest audio documentation is the last one i send in the mail group (at least graeme send no other version afterwards)

[2017-02-11 20:52] mancoast commented on #195
Awesome, thanks!

[2017-02-11 20:56] buddhi1980 commented on #242
Tested under Win10. The program loads FLAC, WAV and OGG files. Used mingw64 build.

[2017-02-11 20:56] #242 closed

[2017-02-11 21:04] mancoast commented on #229
@zebastian Shall we implement lint scan for continuous integration?

[2017-02-11 21:15] buddhi1980 commented on #238
I cannot get this problem under Win10 on my PC. It plays sound very well. The problem existed only on computers in planetarium.
Needs more testing...

[2017-02-11 21:35] mancoast commented on #243
REF:
http://doc.qt.io/qt-5/qtmultimedia-windows.html

[2017-02-11 21:37] mancoast commented on #238
Can we build these xcompile binaries using travis?

On Sat, Feb 11, 2017 at 4:15 PM, Krzysztof Marczak <notifications@github.com

[2017-02-11 22:40] zebastian commented on #229
I don't think this is necessary.
i thought about these non critical checks some time, i see three possible scenarios:
**hard**: commits will only be accepted, if each and every kind of check succeeds. This way the code base is always "perfect" in all checked dimensions, but it will also cause newcomers / non-pedants to fail pushing commits, because the rules are too oppressive -> not working

**me

[2017-02-11 23:56] mancoast commented on #244
dOCUMENTATION mERGED
ref https://github.com/buddhi1980/mandelbulber2/issues/195
rEQUIE hELP mENU

https://github.com/buddhi1980/mandelbulber_doc/releases/download/2.10.0.9.2/Mandelbulber.End.User.Manual.2.10.0.9.2.Pre-Release.pdf

[2017-02-11 23:56] #244 closed

[2017-02-12 00:10] mclarekin commented on #233
Excellent, that bug had been confusing me for months, then the newer bug, that also caused Mandelbulbs to appear,   made it even more confusing. This should be the end of mysterious Mandelbulb occurrences.

[2017-02-12 00:52] mancoast commented on #195
resolved:
https://github.com/buddhi1980/mandelbulber2/commit/cfdd3b11571c35af0db05e024a4bee555011b96b

[2017-02-12 00:52] #195 closed

[2017-02-12 01:53] mclarekin commented on #241
Any thoughts regarding design of this visual demonstration?

Random thoughts:

To do a good visual demonstration requires  a lot experimentation and
practice ( and maybe some enhancements.)  I have only just started
learning, and I lack the computer power to get fast results to learn from.
I would say that all of us would need to spend sometime getting a good
understanding and trialling various th

[2017-02-12 07:46] buddhi1980 commented on #223
I would close this bug report, because this source of crashes is already fixed (added QMutex in cParameterContainer class)

[2017-02-12 07:46] #223 closed

[2017-02-12 09:32] buddhi1980 commented on #238
I works also under Windows Vista.

@mancoast, do you want executables for testing?

[2017-02-12 09:39] buddhi1980 commented on #181
I know why it lead to bad allocs. This is just about of needed amount of memory. There is in the code:
[code]
Example
Resulution 1500x1500x1500:

it allocates 1500 * 1500 * 1500 * 3 * sizeof(size_t)
   = 1500 * 1500 * 1500 * 3 * 8 = 8.1e10 bytes = 81GB !!!

[2017-02-12 10:28] zebastian commented on #181
Thats too much RAM to ask :(
I need to change this alltogether to make it somehow "stream-able" like the voxel slice export, which works on only a slice at a time.

[2017-02-12 10:52] buddhi1980 commented on #181
I have just tried to import to Blender 500x500x500 Mandelbulb object. It utilized 3.5GB of memory :). Saved ply file had size 250MB.

![image](https://cloud.githubusercontent.com/assets/11696990/22861446/62e4b9b6-f119-11e6-8f93-9f33b60785fe.png)

[2017-02-12 12:13] zebastian commented on #181
the trick is to remove the internal geometry first, this makes up >90% of object size, which should be ignored. after removal all 3d programs can handle even high quality "hulls"

[2017-02-12 14:37] mancoast opened #245 "Rework Help Menu and Rework Manual"
@buddhi1980

I will rework the manual content to release quality.  Please describe steps required to move the "User Manual" action out of "About" menu and into a new "HELP" menu on main render window to the right of "About" menu.

Thanks!
coast

[2017-02-12 15:16] buddhi1980 commented on #245
I will take care about creating new menu. You can focus on the document.

[2017-02-12 15:24] mancoast commented on #245
Sounds great, thanks!

[2017-02-12 15:44] mancoast commented on #156
STEP ISO 10303 required for SolidWorks Rapid Prototype.
REF: https://www.sculpteo.com/en/tutorial/prepare-your-model-3d-printing-solidworks/

[2017-02-13 17:31] mancoast commented on #72
@zebastian What are your thoughts regarding an example file foreach formula included in next end user manual?   Do we currently have preview images foreach example in deploy folder?

[2017-02-13 17:51] buddhi1980 commented on #72
@zebastian Is this list actual? I can create these missing examples.

@mancoast, why you ask about preview images? We don't have any preview images for any formula.

[2017-02-13 17:58] mancoast commented on #72
I want to get full 4k preview images hosted on official mandelbulber for each example. Then we can reference the examples in the end user manual with smaller preview images and a link to the main website for full HD resources.

[2017-02-13 18:03] buddhi1980 commented on #72
So this is another topic. Please create separate issue for it, because rendering of examples is not the same as creating of examples.

[2017-02-13 18:13] zebastian commented on #72
Hi,

i rerendered all examples on 2017-02-05 (should be up to date), see here:
http://cdn.mandelbulber.org/thumbnail/2.10/
These are now downloadable with the version bump to 2.10, try it out:
Program preferences > Image >  Thumbnail options > Load

[2017-02-13 18:14] zebastian commented on #72
@mancoast you can find some high def renderings of examples here: https://mandelbulber.org/examples/
but you are right, we should add way more examples there...

[2017-02-13 18:18] buddhi1980 commented on #72
@mancoast mancoast probably talked about high resolution images (some kind of image gallery) which we could put on mandelbulber.org page

@zebastian, do we already have to tool to generate list of missing example settings?

[2017-02-13 18:21] zebastian commented on #72
Yes, its:
Program preferences > Image > Thumbnail options > Generate
This will generate missing and touch existing, this way all timestamps of current thumbnails will be updated and i can sync these into the webfolder at cdn.mandelbulber.org.
Then i just run the genFileList.sh in the image folder and the list of thumbnails is updated.

[2017-02-13 18:25] buddhi1980 commented on #72
But how we know which fractal formulas don't have any example file (.fract file) ?

[2017-02-13 18:27] buddhi1980 commented on #72
@zebastian zebastian, In commit yuo wrote: https://github.com/buddhi1980/mandelbulber2/commit/b66c5b3c7ce776d666fba12eb0510975fab3ddfa

How to get this list using this php script?

[2017-02-13 18:30] zebastian commented on #72
its populateUiInformation.php: since we are showing which example files are "featuring" an formula, we can also determine which formulas are not used at all in any of the examples.
See getFormulaExampleUsage() in populateUiInformation.php, this scans the example folder and fills a lookup table with: formula index -> list of featuring examples

[2017-02-13 18:31] zebastian commented on #72
Then we look up the  formula index in the list:
[code]

[2017-02-13 18:32] buddhi1980 commented on #72
so how to display this list of missing examples?

[2017-02-13 18:33] buddhi1980 commented on #72
I tried to run this script, but it doesn't display this list

[2017-02-13 18:33] zebastian commented on #72
oh, yes, you need to append the warning flag:
```php populateUiInformation.php warning```
I deactivated it by default, since there is so much output...

[2017-02-13 18:35] buddhi1980 commented on #72
Thanks! This is what I needed.

[2017-02-13 20:49] buddhi1980 commented on #189
After rendering SSAO disappears. This need to be fixed.

[2017-02-14 03:36] mclarekin commented on #72
If you need any help (due to time) I can provide examples, but I prefer the
concept of you guys doing it, in this way the formulas get tested by
someone other than me.

On Tue, Feb 14, 2017 at 7:35 AM, Krzysztof Marczak <notifications@github.com

[2017-02-14 04:28] mclarekin opened #246 "Load example settings does not allow user to reopen same example easily"
Load_example_settings does not allow user to reopen same example easily.  It operates differently  to load_settings.

Example user opens an example, tweaks it, then decides to reopen and start again. Open is greyed out.

[2017-02-14 11:57] mancoast commented on #232
move camera ||
move target ||
move camera & move camera

@buddhi1980 Any Thoughts about including "move" foreach noun [direct object] to be precisely clear?

[2017-02-14 21:39] buddhi1980 commented on #72
@mclarekin , you can help me with Collatz fractals. I cannot get any interesting image.

[2017-02-14 22:09] mclarekin commented on #72
Will do.   I know what you mean, it is almost as bad as the scator for
finding a reasonable image.

On Wed, Feb 15, 2017 at 10:39 AM, Krzysztof Marczak <
notifications@github.com> wrote:

[2017-02-14 22:10] zebastian commented on #72
you really need to use a low raymarcxhing step multiplier (0.1 and less) to get a result with a reasonable low DE value. maybe the used distance estimation method could be changed?

[2017-02-15 03:06] mclarekin commented on #72
I cannot remember the collatz very well, but it did  evolve into the menger
polynomial, which is cool.

 DeltaDE I used on somethings. Collatz is best used for tweaking other
formulas.

I do wonder whether we should remove collatz, and only have collatz mod

Attached is two zips of  a dump of my collatz folder

These setting below are for pure collattz. Sebastian is correct, a DE step
.01 used.

A

[2017-02-15 03:23] mclarekin commented on #72
I remember now why Collatz default is analytical linear DE,  it is because
it works well with menger and Mbox which are analytical linear.

Have a look in the zips for examples,the best examples are hybrids

On Wed, Feb 15, 2017 at 4:06 PM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-02-15 03:37] mclarekin commented on #222
Investigate in Sound Pitch mode a conditional amplitude filter,

example pitch = 0 when amp < a number. The general idea is removing pitch animation that cannot be heard.

[2017-02-15 17:12] #189 closed

[2017-02-15 17:53] buddhi1980 commented on #72
Hybrid will be also good. If you have some will be nice.

[2017-02-16 04:41] mclarekin commented on #72
Mandelbox with no addCpixel, tweaked by Collatz Fractal. It is not very
artistic *so feel free to modify it*. But it demonstrates the influence,
which is quite strong considering that it is not being used  until 26
iterations into the loop.

( Note, Collatz Mod, can be used differently as it has some parameters.  It
is a bit easier to use nearer to the beginning of the loop, normally for
just 1 it

[2017-02-16 17:59] buddhi1980 commented on #72
Thank you @mclarekin . Final result is very good

![image](https://cloud.githubusercontent.com/assets/11696990/23033857/f2351102-f479-11e6-85dc-1c0d7f31d80c.png)

[2017-02-17 17:42] mancoast opened #247 "INTEGRATE: 3D Printing into Mandelbulber software platform"
I would like to modify the voxel export data to include Computer Aided Manufacturing Validation.
We can use online services, or c/c++ library. @buddhi1980 any thoughts?

[2017-02-17 17:54] buddhi1980 commented on #247
What you exactly mean? Is this about some specific data format?

[2017-02-17 18:01] mancoast commented on #247
Picture this if you will:

We have just exported voxels from amazing 2D images.
Then we load up the data into our favorite CAD software.
Then we goto FILE->Print 3D.
We get 10,000 error messages about how the data is not printable.
In reality, a very small subset of designs can actually be manufactured.
We require a scan for this with Mandelbulber before exporting the voxels.

[2017-02-17 18:56] buddhi1980 commented on #247
So as I understand this is the software which validates cloud points if they are correct for 3D printing. Am I correct? Is it a check if data contain isolated voxels or too thin layers?

[2017-02-17 19:25] mancoast commented on #247
@buddhi1980 Your understanding of Issue/Opportunity is absolutely correct!

True integration of 3D Printing into Mandelbulber software platform requires validation of cloud points for 3D-Printer Hardware.  Some software can automatically 'HEAL' cloud points for 3D-Printer Hardware.

We can identify an API that provides 'VALIDATE' and 'HEAL' that operates on ISO 10303 STEP File Format  https://gith

[2017-02-18 11:14] zebastian commented on #247
this topic is a huge field, there are already programs like meshlab and FIJI which can be used to manipulate 3d voxels in more ways than we could ever incorporate. Instead of reimplementing things already present in other software we should focus more on core features which mandelbulber still lacks. So i would say where the voxel rendering happens is where mandelbulber ends and a new software in a

[2017-02-18 18:32] mancoast commented on #247
Your input is valuable @zebastian.  We can table this issue for later and perhaps establish another project for 3D Printer Operations given our feature backlog shrinks.  I believe that we can reach a new audience of engineers.  Engineers tend to tinker and find/fix bugs.  This opportunity offers another use case scenario for download of Mandelbulber Software Platform for use on Engineering Systems

[2017-02-18 18:50] mancoast commented on #247
Mandelbulber Software Platform requires SOLIDWORKS Native C++ API [Unmanaged_CPP]
SOLIDWORKS provides 'state of art' automatic 'HEAL' of data sets for 3D-Printer Hardware.
REFERENCE: http://help.solidworks.com/2017/English/api/sldworksapiprogguide/Overview/Unmanaged_CPP_and_CPP_CLI_Code_Differences.htm

[2017-02-19 00:30] #247 closed

[2017-02-19 00:44] mancoast commented on #149
@buddhi1980 Does this bug still exist?  I cannot reproduce using my systems and latest build.

[2017-02-19 00:47] mancoast commented on #138
@buddhi1980 Is this 2.10 or 2.11?

[2017-02-19 00:58] mancoast commented on #72
@buddhi1980 Do we want to include an example foreach formula/transform in 2.10 or 2.11?

[2017-02-19 01:01] mancoast commented on #147
This issue requires deep analysis.  I figure we require a few release cycles to hammer out all the details.

[2017-02-19 03:08] mancoast commented on #245
https://github.com/buddhi1980/mandelbulber_doc/commit/bad79d387ed7619565f3a90bd4f97ff88115d7b9

@buddhi1980 @zebastian Please review User Manual Build 2.10.0.9.4
[handbook2.10.0.9.4.pdf](https://github.com/buddhi1980/mandelbulber2/files/785511/handbook2.10.0.9.4.pdf)

[2017-02-19 03:24] mclarekin commented on #245
Random comments:
 - there is a Polish screenshot at end of 5.7, hmmm?? I thought we had
removed all the Polish?
- formatting looks a bit weird in places
- font seems big. but maybe that is the way I have pdf's  set up in Ubuntu
- maybe swap 8 and 9 making Q & A last chapter

On Sun, Feb 19, 2017 at 4:08 PM, mancoast <notifications@github.com> wrote:

[2017-02-19 03:55] mclarekin commented on #245
- font seems big. but maybe that is the way I have pdf's  set up in Ubuntu
OK I see if I change zoom tot 150% i get an approx A4 size on my screen.

- sidepane does not show section numbers?

On Sun, Feb 19, 2017 at 4:24 PM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-02-19 13:56] mancoast commented on #245
Coversion to Latex from ODT requires analysis.
Current state meets requirements of this Issue.
We can resume tracking of PDF User Manual in new repo.

[2017-02-19 13:56] #245 closed

[2017-02-19 13:57] #149 closed

[2017-02-19 16:41] mancoast opened #248 "Include new example fractal settings & correlating audio file for Peer Gynt Suite No.1, Op. 46 Edvard Grieg Mandelbulber Omni-Directional Visualization for Audio Waveform."

[2017-02-19 16:42] mancoast commented on #248
https://github.com/buddhi1980/mandelbulber_doc/commit/561bebc1bb5ff3c5ee659190817e9d8e0b908123

In the Hall Of The Mountain King, Peer Gynt Suite No.1, Op. 46 Edvard Grieg
Mandelbulber Omni-Directional Visualizer for Audio Waveform
https://commons.wikimedia.org/wiki/File:Musopen_-_In_the_Hall_Of_The_Mountain_King.ogg
https://upload.wikimedia.org/wikipedia/commons/b/bb/Musopen_-_In_the_Hall_Of_The_

[2017-02-19 22:25] mancoast opened #249 "NUGET Required for libsndfile"
Greetings,

Windows Build using MSVC/CMAKE requires libsndfile released as NUGET.
libsndfile requires additional NUGET:
ogg msvc14 x64 & Win32
vorbis msvc14 x64 & Win32
flac msvc14 x64 & Win32

This will take some time, but absolutely feasible.

Thanks,
Coast

[2017-02-22 19:20] mancoast opened #250 "Animation By Sound dialogue - Add accept button"
![image](https://cloud.githubusercontent.com/assets/7040493/23228303/0bb7c5e0-f90a-11e6-930d-1231eb5ad037.png)

[2017-02-22 19:23] mancoast opened #251 "Animation By Sound Table ( and the audio selector UI chart) with animVal = paraVal + soundVal"
enable sight of the calculated values from Animation By Sound Dialogue

Please consider inserting two new rows foreach "Audio Loaded" parameter.
Imagine the animation table with animVal = paraVal + soundVal, (Three rows required for maximum design intuition)

![image](https://cloud.githubusercontent.com/assets/7040493/23228366/45509430-f90a-11e6-97e7-4473fac9171f.png)

![image](https://cloud.githu

[2017-02-22 19:56] mancoast opened #252 "Animation By Sound - Provide example fract file for Color reaction from audio via Palette Offset"
Greetings,

I am unable to get any reasonable reaction from audio via Palette Offset.

Reference: https://github.com/buddhi1980/mandelbulber2/commit/627f9c19346b68ba74230f38d12878b3d45b0d53

1.) how do we reference an audio file from the examples folder in the deploy/share from a fract settings file?
2.) please take time to further analyze Color reaction from audio via Palette Offset.

thanks,
coa

[2017-02-23 03:37] mclarekin commented on #251
Random first two thoughts are:

A) click on parameter from the list of parameters
this opens the parameter's tab,  where there is the three rows paraVal,
soundVal, animVal (and maybe interpolation type and remove 'parameter' from
animation options.)
also on this tab Enable Anim by Sound, which will open the audio selector
dock.

alternatively

B)Open AnimBySound, and have the three rows displayed

[2017-02-23 20:42] buddhi1980 commented on #231
Will be possible :smiley:

![image](https://cloud.githubusercontent.com/assets/11696990/23278173/e288a114-fa10-11e6-8a20-17f52dc73db1.png)

[2017-02-24 15:01] mancoast commented on #241
Greetings @mclarekin

computer power to get fast results - opencl priority #1, for now we use k1om.
Slow orchestral music would probably be one choice, but getting instrument tracks would be difficult.
lets review samples committed into public domain from https://github.com/buddhi1980/mandelbulber2/issues/252 and https://github.com/buddhi1980/mandelbulber2/commit/627f9c19346b68ba74230f38d12878b3d4

[2017-02-24 16:24] mancoast opened #253 "Require Mandelbulber to generate dome masters, and from there any planetarium with a fulldome system should be able to compile the appropriate playback media."
the fulldome community has developed an intermediate output mode called "dome masters", from which the appropriate media file can be compiled for any system. Here's where you'll find that spec: http://www.imersa.org/afdi-dome-standards-group

[2017-02-24 16:31] buddhi1980 commented on #253
I think mandelbulber already renders full dome animations according to this standard. It's nothing new for me. The way how Mandelbulber render images/animations was already discussed with 3 different Planetariums in Poland. When I compare what is generated by mandelbulber and what is written in this standard, everything looks correct.

[2017-02-24 16:52] mancoast commented on #253
Awesome news! I will further investigate. Thanks!

[2017-02-25 12:51] ghost opened #254 "Implement the Tetrix for mandelbulber examples deployed with build package"
##### System information (version)

- mandelbulber2 => 2.10
- Operating System / Platform => all
- Compiler => all

##### Detailed description

This is request for Tetrix for mandelbulber examples fract settings files.

##### Steps to reproduce

3 faces = triangle => Sierpiński sieve => Tetrix
http://mathworld.wolfram.com/Tetrix.html
implement the Tetrix for mandelbulber

[2017-02-25 14:07] mancoast commented on #254
@buddhi1980
Is it feasible to tune any of the current fractal formulas to generate the tetrix?
I require an infinitely recursive 3D model of the tetrix for another project.

Thanks!
coast

[2017-02-25 14:21] mancoast commented on #252
@buddhi1980 how do we reference an audio file from the examples folder in the deploy/share from a fract settings file?
consider this line from fract settings file:
[code]

[2017-02-25 14:32] mancoast commented on #251
@mclarekin
Great input, thank!  I agree that displaying these three values, the three rows paraVal,
soundVal, animVal, make designing fractals with less effort extremely efficient.
Sometimes want to to use our brains, sometimes we want to turn them off 🔥

[2017-02-25 14:41] mancoast commented on #239
Any feeback on this method:
small+meduim+large
Small Font: res < 1920x1080 => default font 9pt
Medium Font: 1920x1080 < res < 3840x2160 => default font 12pt?
Large Font: res > 3840x2160 => default font 14pt

[2017-02-25 16:10] buddhi1980 commented on #254
We don't have any formula which can generate this shape.

[2017-02-25 16:37] buddhi1980 commented on #252
There is no easy cross platform solution for this. I'm going to add helper for loading files (for textures and sounds) which will check several default paths when file is missing.

[2017-02-25 17:02] mancoast commented on #252
sounds great thanks!

[2017-02-25 17:02] mancoast commented on #254
ok I will try to document the requirements. thanks!

[2017-02-25 18:20] buddhi1980 commented on #254
Now I look that Sierpinski3D formula is quite similar and there is some small chance that it could be adapted. But there is no guaranty.

[2017-02-25 18:44] mancoast commented on #238
The cross-compiled MINGW build of mandelbubler 2.10 Confirmed functional using Windows 10 && Windows Server 2016.

All functionality provided via LibSound and QT.

@buddhi1980 cannot reproduce, thoroughly tested using clean Operating System builds.

[2017-02-25 18:50] mancoast opened #255 "OpenCL Engine"
port existing code for preparing and running the render kernel in cpp from mandelbulber v1 to existing code base

[2017-02-25 18:50] buddhi1980 commented on #238
Closed, because not reproducible

[2017-02-25 18:50] #238 closed

[2017-02-25 20:10] buddhi1980 commented on #231
It's done. Can you test if it works properly?

[2017-02-25 21:05] mancoast commented on #155
target stack: 2017 Intel® MPSS 3.8.1 and Intel® Parallel Studio 2017.1

[2017-02-25 21:46] mancoast commented on #231
Tested, works very well. 👏
![image](https://cloud.githubusercontent.com/assets/7040493/23335018/c0466acc-fb79-11e6-953a-66e270923d07.png)

[2017-02-25 21:57] acidhunter opened #256 "Feature: implementing compression in NetRender"
Hello there,

after getting mbulber running on many nodes (armhf/aarch64/i486/amd64) i tried to connect them to a client on a 100mbit line.

netrender was limited now by network speed.

After a very great talk to Krzysztof he asked me to open this issue here to share the details that i had discovered.

As a part of my job i do trys to compress the traffic between 2 offices with opensource technolo

[2017-02-25 22:33] zebastian commented on #256
Hi Martin,

we have tried adding compression before with qCompress:
doc.qt.io/qt-4.8/qbyAtearray.html#qCompress which uses zlib internally
This works fine and has the desired behaviour. However this may make the server to the bottleneck, usercase: one thin server, which is only a collector for the rendered lines, multiple strong clients. Here the server may be too slow to uncompress the data in ti

[2017-02-25 22:35] buddhi1980 commented on #256
There idea here is to use lzop compression which is way faster than zip

[2017-02-25 22:46] mancoast commented on #256
Greetings!

Please upload the fractal settings file used for testing network bottleneck scenario.
I would like to recreate using my systems.

100mbit pipeline bandwidth utilitzation at 100% requires a huge render.
I am interested to see how mbulber does in my local labs.

Thanks!

[2017-02-25 23:14] zebastian commented on #256
@buddhi1980 got carried away with the idea :)
zip was nice, since it is already built in, but by now we are familiar with adding new libraries.
zip has a good decompression speed (vs poor compression speed, but this is happening on the client mostly)
some hard numbers on a mandelbulber setup with different compression algorithms would be good.

[2017-02-26 03:41] mclarekin commented on #251
we can consider implementing a  checkBox for each parameters to use anim by
sound

I am thinking it would be desirable when working with audio, to be able to
simply turn on or off the soundVal effect of a parameter from the Keyframe
animation table.

On Sun, Feb 26, 2017 at 3:32 AM, mancoast <notifications@github.com> wrote:

[2017-02-26 03:41] mclarekin commented on #241
Any thoughts?

Early days still. I need to get  my mind back into audio mode again.

But I will  soon work on a demonstration of color offset reaction using the
existing pitch mode.

There are several ways of doing this, including writing some experimental
conditional code which may make it easier.

Fortunately it is all simple maths.

On Sat, Feb 25, 2017 at 4:01 AM, mancoast <notifications@githu

[2017-02-26 08:29] mclarekin opened #257 "Install initial w parameter value on each 4D fractal UI"
Install initial w parameter value on each 4D fractal UI so that is easier to tweak

[2017-02-26 08:47] buddhi1980 commented on #257
How it should work with hybrids? Initial value is only one which is applied before iterations. Do you wan to have this only for booleans?

[2017-02-26 09:18] buddhi1980 commented on #74
Done. Now it additionality resets following parameters:
[code]

@mclarekin, Is it what you expected?

[2017-02-26 09:23] buddhi1980 commented on #76
It cannot be done in v2.11, because there is needed a lot of work to implement it.

[2017-02-26 09:59] mclarekin commented on #74
That covers the global parameters.

There are other situations where implementing a reset could be an
enhancement (maybe lights tab). Basically if a tab or dock has a lot of
parameters to manually set back to default, then it is worth considering a
reset button.

I think we can consider this issue closed.

On Sun, Feb 26, 2017 at 10:18 PM, Krzysztof Marczak <
notifications@github.com> wrote:

[2017-02-26 10:18] #74 closed

[2017-02-26 11:47] mclarekin commented on #257
The current problem is having to open another tab to tweak or view the
initial_w value. But I cannot find a good solution

Solution A. Maintaining global initial w
Relocate global initial_w to "somewhere"  more accessible. But the existing
options are not good - like the render window or next to auto refresh in
the Navigation dock.
*(BTW I wonder if "Render Stop Undo Redo Auto refresh " should be

[2017-02-26 18:03] buddhi1980 opened #258 "NetRender doesn't connect with localhost"
##### System information (version)
-  mandelbulber2 => 2.10
- Operating System / Platform => All
- Compiler => gcc, mingw

##### Detailed description
When client is on the same machine as server then there is generated connection error

[code]

Similar error was reported here: http://www.fractalforums.com/bug-reporting-b231/version-2-10-clients-crashing/new/?topicseen#new

##### Steps to reproduce

[2017-02-26 18:52] #91 closed

[2017-02-26 18:54] buddhi1980 opened #259 "ability to have a flat map to the forefront with transparency parameter"
To get effect like this:
![mandelbox dreams 800](https://cloud.githubusercontent.com/assets/12769564/22129040/94c3c6de-df08-11e6-86ad-0ec3a61a70c9.jpg)

proposed by @mclarekin here: https://github.com/buddhi1980/mandelbulber2/issues/97

[2017-02-27 17:06] mancoast commented on #249
https://github.com/xiph/ogg/pull/24

[2017-02-27 17:40] zebastian commented on #258
i found a problem, which probably caused this behaviour:

The client tries to reconnect to the server, as long as it is not in the state QAbstractSocket::ConnectedState.
see: void CNetRender::TryServerConnect()

If the client is already trying to connect to the server, it should do nothing (since the establishing of the connection may take longer than 1 second). If it is not already connecting, it

[2017-02-27 17:50] buddhi1980 commented on #258
Works perfect! Thanks!

[2017-02-27 17:50] #258 closed

[2017-02-28 17:19] mancoast opened #260 "Enhance audio data within fractal settings file."
##### System information (version)

- mandelbulber2 => 2.10
- Operating System / Platform => All
- Compiler => All

##### Detailed description
Add new features to enhance animation from audio data.
Enable animation on computer nodes without loading audio file.

[2017-02-28 17:21] mancoast commented on #260
Add sha1 for audio file.
Add parameter offset data.
Enable full render without loading audio file.

[2017-02-28 18:36] buddhi1980 commented on #260
Can you add more explanation:

What you mean here? Do you mean NetRender nodes? They already don't need audio data.

Why we need sha1 for audio files?

Do you mean time offset? Time offset is really needed.

[2017-02-28 20:36] mancoast commented on #260
When using an audio file for animation, its important to use the same file for multiplexeing the stills with the audio file.  (ex. ffmpeg or Adobe)  SHA1 hash within the fractal settings file enables verification before multiplexing.

Next, Within the settings files, we need to store animVal = paraVal + soundVal foreach parameter animated by an audio file.  This is important for animating audio fi

[2017-03-02 04:37] CCV54 commented on #258
Yep, thanks zebastian! Fixed my problem, as mentioned by buddhi1980 - http://www.fractalforums.com/bug-reporting-b231/version-2-10-clients-crashing/ - and a little more.

[2017-03-02 06:12] mclarekin commented on #258
@ zebastian. Note the Gamepad comment and another minor bug comment from
CCV's post today.

*About the slow loading on Client end:Turns out, it was my fault due to
copying the already extracted mandelbulber2-win64-2.10 file from my Server
machine to Clients.After I copied the Zip file instead and extracted the
contents in place, the (newly created) Desktop shortcut works
fine.Excellent work, peopl

[2017-03-02 17:15] buddhi1980 commented on #258
gamepad messages under Windows come from different versions of QtGamepad (5.8) and QtCore (5.7).

[2017-03-02 18:55] buddhi1980 commented on #97
@mclarekin, I have added scaling and rotation of background texture (also flat). Please check if this works for you

[2017-03-02 18:56] #234 closed

[2017-03-02 22:24] zebastian opened #261 "make mandelbulber source citable"
what do you think about adding support to make the code citable?

https://guides.github.com/activities/citable-code/

[2017-03-02 23:40] mclarekin commented on #97
scale works well

gamma angle works well (this is for when the original photo is not aligned
parallel to the horizon which can make the clouds look wrong)

But is it possible to have horiz & vert shifts to move the  flat background
in respect to the  camera. Example,  using  mandelbulber set to 3200 x
2400,  with a 5472 x 3648 background, then being able to move the
background to choose which part

[2017-03-03 00:52] mclarekin commented on #97
I see that I can "kind of"use equirectangular mode to view different parts
of the background jpg

On Fri, Mar 3, 2017 at 12:40 PM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-03-03 02:34] mancoast commented on #261
Greetings!

@buddhi1980 Please enable this automatic service for the shared repo.
Here's a sample I create in ~5 minutes - https://zenodo.org/record/345185#.WLjVcDsrKUk .
Citations within code are valuable for science!

Zenodo requires GIT HOOKS, similar to APPVEYOR or TRAVIS.
Zenodo requires and OAUTH token from you @buddhi1980

thanks,
coast

[2017-03-03 18:08] buddhi1980 commented on #97
@mclarekin Now you have more controls. There are additionally texture offset sliders. You should like it.

[2017-03-03 18:54] buddhi1980 commented on #261
I have just configured everything. It will start working after next release.

[2017-03-03 19:31] buddhi1980 commented on #99
I have found another solution. It's implemented in latest commit:

https://github.com/buddhi1980/mandelbulber2/commit/dfada001835fafaacf1eeb4b3139d527511db184

Try to select any disabled tab. You will see what is done.

[2017-03-03 20:39] mancoast commented on #261
Thanks!

[2017-03-03 20:39] #261 closed

[2017-03-03 20:40] mancoast commented on #251
Greetings,

Please provide hint/instructions for implementation of this feature.

Thanks,
coast

[2017-03-03 20:43] mancoast commented on #260
This is closely linked to https://github.com/buddhi1980/mandelbulber2/issues/251 .
@buddhi1980 @zebastian What is required for this functionality?
We need to be able to hand tune the audio FFT offset data to render animations.

[2017-03-03 20:59] buddhi1980 commented on #251
This is very complicated to implement, because there is needed to reorganize animation table.
By the way it doesn't make sense to display audio animation as values in keyframe animation, because audio is applied for every frame (in table we have only keyframes). This would be very confusing for users.
The solution which I have in mind is to add charts for final animation patch in animation table (

[2017-03-03 21:01] buddhi1980 commented on #251
To turn off AnimBySound for given parameter you can use "Enable animation by sound" checkbox:

![image](https://cloud.githubusercontent.com/assets/11696990/23568851/d576db6a-005c-11e7-8b73-a0f451d313cd.png)

[2017-03-03 21:07] buddhi1980 commented on #260
There is needed free time... I will start thinking about these enhancements when I finish with many older requests.

[2017-03-03 23:28] zebastian commented on #261
Cool, thanks!

[2017-03-04 00:33] mancoast commented on #260
Greetings!

I request we prioritize this issue because I would like to really master the animation by sound.
To master the animation by sound we need to be able to track our fractal design changes with plain-text edits for fine tuning the parameters.

Thanks!
coast

[2017-03-04 01:14] mclarekin commented on #97
Successfully chose the area of the photo to be used in the background  :)

Successfully animated clouds slowly drifting in the background of the
fractal :)

there are also various tiling backgrounds effects that can now be done
using theses new controls :)

Other enhancements to Background Tab i know of :

- choose single color background  option

- enable  control of the 3 color option. i.e width

[2017-03-04 01:25] mancoast commented on #97
These special effects look really wonderful!
I would love to see an 8k EXR film of fractal clouds!

[2017-03-04 06:26] mclarekin commented on #97
@ rob, my clouds are not realistic as they are a static image moving, BUT
clouds can be implemented some time in the future as well as some  cool
fog  effects.

@ krzysztof. my comments about bands may be  a bit confusing.

Example.Top color 1 is red, and the bottom color 3 is blue, and we want to
transition through middle color 2 (yellow).
There are various ways of controlling  the transition wit

[2017-03-04 08:31] mclarekin commented on #260
Not that I need to understand what you guys are discussing , but -

would this mean  data for every parameter being animated  at each frame,  to be stored in the .fract file? If so it could be an Option of Save, rather than the default as files would get big??

would it be animVal, paraVal & soundVal, or just paraVal & soundVal??

[2017-03-04 09:26] mclarekin opened #262 "Recent Files option"
Implement a recent files option for loading.  Like having the last 6 saved file names, linked to their folder locations.

[2017-03-04 11:09] zebastian commented on #262
yes good idea, i often would have liked the idea.
Would be great to have it for next release.

[2017-03-04 15:12] mancoast opened #263 "Purge All non-functional http references from source/repo."
It's time to class things up for citable code for science.
I suggest we follow embedded systems archetype:
We need to protect the typesetting of the machine language.
We need to purge all non function http references.
We need to build a bibliography for internal references to external http references.

[2017-03-04 15:23] mancoast commented on #249
Almost complete, I am still getting a few strange linker errors for x64.
https://www.nuget.org/packages/ ...
ogg-msvc14-x86
ogg-msvc14-x64
vorbis-msvc14-x86
vorbis-msvc14-x64
flac-msvc14-x64
flac-msvc14-x86

soon we will have:
libsndfile-msvc-x86
libsndfile-msvc-x64

[2017-03-04 20:32] #97 closed

[2017-03-05 06:41] mclarekin opened #264 "Openning in material editor instead of fractal tab"
whenever I open a saved file, it opens in material editor when I think it should open in the fractal tab.

also if i am in fractal tab with auto-refresh on, I change a fractal parameter, then decide i do not like it, I hit undo and it goes back to material editor tab instead of fractal tab.

[2017-03-05 09:02] buddhi1980 opened #265 "Simplify Frame Index Number System"
- Operating System / Platform => all

Problem reported by paigan0 on FractalForums

When rendering animations, which is 98% of what I do, the v 1.21 lets you know which keyframe you're currently rendering from and what fraction or percentage of the keyframe.  In version 2.x, if I have a bad frame, and it's frame #7459 of 7800, which keyframe do I need to go in and change? Was it #16 or 17...let's

[2017-03-05 13:52] #229 closed

[2017-03-05 17:25] #117 closed

[2017-03-05 17:31] buddhi1980 commented on #262
Good work, but It should add path to recent files also when settings are saved

[2017-03-05 18:04] zebastian commented on #262
thanks, good point. added in last commit

[2017-03-05 20:08] zebastian commented on #262
should be good now
@mclarekin can you check if anything is missing, close if OK

[2017-03-05 23:51] mclarekin commented on #262
It is good!! Closed.

[2017-03-05 23:51] #262 closed

[2017-03-07 18:53] zebastian opened #266 "add color support for mesh export"

[2017-03-07 18:54] zebastian commented on #181
memory problem solved here: https://github.com/buddhi1980/mandelbulber2/commit/1b49609a7bc8f82c943c4b3a496373d6d1602719
I will check, if openmp is possible...

[2017-03-07 21:33] mancoast commented on #181
Is it possible to implement a Clustering Decimation of the mesh to reduce the number of faces?
http://graphics.stanford.edu/courses/cs468-10-fall/LectureSlides/08_Simplification.pdf

[2017-03-07 21:40] buddhi1980 commented on #181
It is possible, but these algorithms are very complex (actually away from my programming abilities).
There are already very good programs for it like MeshLab, so why should try to implement it.

[2017-03-07 21:58] mancoast commented on #181
I suggest we implement inter operation with mesh lab, or try to consume the native mesh lab source.

[2017-03-07 23:55] mancoast commented on #181
https://github.com/cnr-isti-vclab/meshlab/blob/master/src/meshlabplugins/filter_isoparametrization/parametrizator.h

https://github.com/cnr-isti-vclab/meshlab/blob/master/src/meshlabplugins/filter_meshing/meshfilter.cpp
https://github.com/cnr-isti-vclab/meshlab/blob/master/src/meshlabplugins/filter_meshing/meshfilter.h

  case FP_CLUSTERING                       : return tr("Simplification: Cluste

[2017-03-08 00:01] mancoast commented on #181
https://github.com/cnr-isti-vclab/meshlab/blob/master/LICENSE.txt
GPLv3
LICENCE enables clean merge. I will proceed and enable compilation.
@zebastian or @buddhi1980 can one of you figure out how to connect after we get past compilation?

[2017-03-08 06:07] buddhi1980 commented on #181
Stop! MeshFilter introduces so  many dependencies. First please analyze what is needed fir implementation, then discuss and after that start adding new complex things. Mesh export is not mainstream functionality of Mandelbulber, so I don't want to double size of the code just for mesh optimization (vcg vode has 100k lines), which can be done by external software. For the same reasons I didn't add

[2017-03-08 07:03] cignoni commented on #181
Hi, Instead of MeshLab you should look directly at the vcglib, that is the dependency free c++ library on which meshlab is based.

BTW, not sure it is the simplest path. Preparing/Cleaning a mesh for 3D printing in many cases is not a straightforward process that requires just a sure sequence of filters.

Probably it could even be simpler/practical to do the converse: having a meshlab filter that

[2017-03-08 11:59] mancoast commented on #181
Greetings,

Thanks for the feedback. I will model our implementation after the Clustered Decimation available in mesh-filter. The system requires vcglib for mesh-filter. This type of simplification engineering enables the core functionality of 3D printing.  I have to reduce the number of faces before I can import Mandelbulb meshes into SolidWorks for "Print 3D"' option.

Thanks,
Coast

[2017-03-08 14:17] mancoast commented on #181
P.S. @buddhi, I think we are all clear with license of mesh lab and the simplification feature seems feasible. Inclusion of additional vcglib requires preprocessors and the mandelbulber build system requires full compilation support without optional vcglib. Filtering of mesh might be considered enhancement. If we are out of scope for this github issue, please let me know.  Thanks!

[2017-03-08 16:56] buddhi1980 commented on #181
Meshlab is very good tool for optimizing meshes, because it has so many different filters. It has additionality very good real time preview.
If we want to implement something similar in Mandelbulber, it's HUGE work. Integration of vcglib and meshal code will be very difficult and we have no manpower to do this.
I will be against implementing this functionality in Mandelbulber, because it's not rea

[2017-03-08 18:12] mancoast commented on #181
Greetings @buddhi1980!

You're the repo owner, so its ultimately your decision how we process new value.
These github conversations are crucial for strategy and I appreciate your feedback.
It is critical to balance the added value of new features with the burden of extra compilation.

@cignoni has informed us that we can essentially rebuild our own mesh-filter with vcglib.
We did not receive permi

[2017-03-08 18:18] buddhi1980 commented on #181
My answer is 3. I'm still open for this functionality, but this definitely not for now. There is a lot of another priorities like OpenCl which are much more beneficial for our application.

[2017-03-08 19:15] mancoast commented on #181
Excellent Choice, Thanks!

[2017-03-08 19:54] buddhi1980 opened #267 "Exported meshes have inverted orientation of faces."
All faces in exported meshes are inverted. There is needed to "invert faces orientation" in MeshLab to get proper results.
@sadaszewski, do you know where could be the problem?

[2017-03-08 21:23] #267 closed

[2017-03-08 21:34] buddhi1980 commented on #267
Thanks. Now everything is correct.

[2017-03-08 21:50] cignoni commented on #181
My 5 cent to the discussion. If you need to simplify the (wonderful) high resolution convoluted mesh generated by mandelbulb there are different algorithms you can choose according to the final purpose of the mesh. Shortly:
- you target rendering; geometric correctness is not a requirement, you just need things that appear correct.
- you target fabrication; geometric correctness *IS* a requirement

[2017-03-08 21:59] cignoni commented on #181
For the memory the trick is to allocate two slices at a time; there is no need to allocate the whole volume. Look at the Resampler class (algorithms/resampler.h in the vcglib or the filter uniform mesh resampling in meshlab).

[2017-03-08 22:22] mancoast commented on #181
@cignoni Your guidance is valuable.  @buddhi1980 @zebastian Do you understand what he means by allocating two slices at a time instead of the whole volume?   Not spun up on the mesh export, however I predict it will be a very attractive feature in the near future and im excited to get some quotes from the local laser shop.

[2017-03-09 00:17] mancoast opened #268 "size_t does not meet the requirements for openmp2.0"
##### System information (version)

- mandelbulber2 => 2.11
- Operating System / Platform => Windows X64
- Compiler => ALL

##### Detailed description

size_t does not meet the requirements for http://www.openmp.org/wp-content/uploads/cspec20.pdf
given win64 ==> size_t ~= unsigned long long

##### Steps to reproduce

![image](https://cloud.githubusercontent.com/assets/7040493/23729985/f03b771a-043

[2017-03-09 00:27] mancoast opened #269 "Fix clang build for travis continuous integration"
##### System information (version)

- mandelbulber2 => 2.11
- Operating System / Platform => OSX
- Compiler => clang

##### Detailed description

Fix clang build for travis continuous integration.
marchingcubes.h:41:10: fatal error: 'omp.h' file not found.

##### Steps to reproduce

![image](https://cloud.githubusercontent.com/assets/7040493/23730428/3bea3794-0435-11e7-9733-a33bf34190e4.png)

[2017-03-09 00:35] mancoast commented on #268
@buddhi1980 I will test out new visual studio 2917.  Hopefully new VS supports openMP3.0.
signed or unsigned integer type as for loop iterator.

http://www.openmp.org/wp-content/uploads/spec30.pdf
![image](https://cloud.githubusercontent.com/assets/7040493/23730576/2966926a-0436-11e7-97a6-5d81b1ef44b9.png)
https://github.com/buddhi1980/mandelbulber2/commit/799f436fbbdf636582172534f8d7efb279e995c2

[2017-03-09 00:45] mancoast commented on #269
https://github.com/vgteam/vg/pull/382/files

[2017-03-09 17:45] mancoast opened #270 "cOMPETE IN 3D MODELING CONTEST"
https://3dx-us.com/3dx-model-showdown

We have an excellent opportunity for a little friendly competition here.
Unlimited entries by deadline of deadline March 22
1st entry ==> https://3dx-us.com/models/mandelbulber2-engineering-sample-outputply

[2017-03-09 18:27] buddhi1980 commented on #270
Something from me: https://3dx-us.com/models/pseudo-kleinian-fractal

[2017-03-09 23:17] mancoast commented on #255
@zebastian @buddhi1980 Is it feasible to accelerate mesh export with openCL?
This might be a low hanging fruit with high value.

![image](https://cloud.githubusercontent.com/assets/7040493/23774995/72572782-04f4-11e7-9e79-2cc671c21678.png)

[2017-03-10 12:51] mancoast commented on #269
hmmm, is it possible to use the boneyard?

https://github.com/Homebrew/homebrew-core/commit/c57e307

[2017-03-10 16:09] buddhi1980 commented on #269
actually ```include <omp.h>``` is not needed here. We can remove this line. However openmp will not work under osx (but program will be compiled properly)
It was needed only when omp_set_lock() was used.

[2017-03-10 16:51] mancoast commented on #269
@buddhi1980 It is time to reach out to the openmp user group / mailing list.  Would you like me to message or do you want honors?

[2017-03-10 16:54] buddhi1980 commented on #269
Why we need to contact with openmp group?

[2017-03-10 16:55] mancoast commented on #269
I want omp to work in mac labs for education and human ecology department

[2017-03-10 16:57] buddhi1980 commented on #269
First I would like to confirm where is the problem. This is the reason why I hesitate to bother people responsible for openmp

[2017-03-10 16:59] mancoast commented on #269
I understand the hesitation, but we have a huge backlog.  At openmp, They would probably be intrigued by our use case scenario and have very valuable insight. The openmp usergroup exists for open-source projects like mandelbubler.

[2017-03-10 17:14] mancoast commented on #270
Does the network rendering speed up the mesh export?
?I havent experimented with those two elements.

[2017-03-10 17:16] buddhi1980 commented on #270
No, NetRender doesn't speed up mesh export

[2017-03-10 17:17] mancoast commented on #270
btw the kleinian looks awesome. Im Thinking about cleaning up the default bulb and adding serious metadata in solidworks for my final entry.  Ill bet that kleinian would look amazing with photoreal metadatas for CAM renderings

[2017-03-10 17:20] buddhi1980 commented on #255
There is some chance it use OpenCL to calculate voxels needed for mesh export. Transformation to mesh from voxels wont be possible. But calculation of voxels takes about 90% of total computing time. Converting to mesh is realitevely fast. So potentially OpenCL will speed up this about 5-10 times.

[2017-03-10 17:21] mancoast commented on #270
maybe in the future the networked labs can render the meshes

[2017-03-10 17:23] buddhi1980 commented on #255
By the way calculation of 5000x5000x5000 mesh is crazy :smile: Even 16GB of RAM would be not enough to load such a object.

[2017-03-10 17:29] mancoast commented on #255
We really should see 100kx100kx100k exports menger sponge for study of antenna theory.
The self similar structures receive multiple wavelengths!

[2017-03-10 17:29] buddhi1980 commented on #269
Last osx build is successful, without any warning about unknown #openmp pragma
The question is if openmp really works.

[2017-03-10 17:32] buddhi1980 commented on #255
Why you use maxiter=10000? This is enormous value for such a fractal. It increases calculation time without any benefit.

[2017-03-10 17:33] mancoast commented on #255
lol honestly i was just trying to max it all out without crashing.
What is the purpose of the maxiter?
Is that the iterations of self similar pattern recursion?

[2017-03-10 17:34] buddhi1980 commented on #255
This like in mandelbrot fractal. It limits number of calculated fractal iterations.

[2017-03-10 17:36] mancoast commented on #255
ok, so good operation requires the x,y,z bounds >> iterations.
In other words, we need to take many samples per iteration (at least 5-10) to actually see that deep into the 3D solid model after its exported.

[2017-03-10 17:42] mancoast commented on #255
@buddhi1980 imagine an antenna that detects 10,000 different wavelengths all based on the size of the smallest cube in the 10,000th iteration.

[2017-03-10 17:51] buddhi1980 commented on #255
At 10000th iteration the smallest cube size (if menger sponhe sah size 1m x 1m x 1m) is 1.0 / 163135018534262587430325672918115471681213245358253799393482032619182573081431907874801556308478483096732520452232357954334055829991772038523814791453681125014531923551662243910254236288435566865596596450120141774482755299903732744254464257512355373418673876078136199372256168728620165048055931740599095204

[2017-03-10 17:52] mancoast commented on #255
LOL this would literally be the first real use case scenario for executing mandelbulber operations on BOINC

[2017-03-10 22:55] zebastian commented on #213
hmm, i thought this would be a quick fix, but i have found no solution for this in the net.
This can be compiled into the code with QT_NO_TOOLTIP, but thats pretty much useless.
Also the tooltip event can be intercepted by each qwidget and not shown depending on user preference, but this seems too much work for little gain. Sadly there is no easy QApplication flag AFAIK.
I reschedule this for late

[2017-03-10 23:04] zebastian commented on #181
volume processing is memory critical, you cannot load all data into memory for a reasonable big model without blowing your RAM, but 3d processing always data to work on in all 3 dimensions.
The trick is to keep the third dimension really short (2 at best) and move the two slices pointer in the 3rd dimension through the mesh and process with intelligent algorithms. This makes the whole process "str

[2017-03-10 23:16] zebastian commented on #181
@cignoni thanks for your feedback and thanks for meshlab!

[2017-03-10 23:51] mancoast commented on #181
Slice and Dice like the MRI.
I remember CT and MRI from medimage lab.

[2017-03-11 00:02] mancoast commented on #269
travis build succeeds, I dont have hardware to test at this moment.
we can open new issue to verify openmp travis build.

[2017-03-11 00:02] #269 closed

[2017-03-11 18:06] mancoast opened #271 "Loading of wav files under all operating systems."
tested yet on: fedora,

ADD TEST:
confirmed win32
confirmed win64
confirmed centOS7 x64
confirmed k1om

[2017-03-11 18:06] mancoast commented on #271
confirmed

[2017-03-11 18:06] #271 closed

[2017-03-11 18:14] mancoast commented on #264
Greetings @mclarekin

Lets confirm the unexpected behavior for this issue.
As I understand, this occurs when one opens a fractal settings file from the file menu:
Upon valid load of fractal settings file, the GUI is switching context to the 'Material Editor'?

![image](https://cloud.githubusercontent.com/assets/7040493/23825694/701aa9b2-065c-11e7-95b0-bdc3bb303aef.png)

[2017-03-11 18:18] mancoast commented on #263
@buddhi1980 @zebastian Within the QT .ui files, it possible to reference strings from a .h header file?  I would like to convert all the url's to strings in a header.

[2017-03-11 18:24] mancoast commented on #260
Initially I was thinking that we could store an audio sample foreach keyframe, but the audio data requires many samples per keyframe.  This issue requires further analysis and strategy.
@mclarekin I agree that this is way to much data to store in the .fract settings file.

@buddhi1980 how many audio samples/second do we need to create smooth linkage between audio and video?

[2017-03-11 18:34] buddhi1980 commented on #263
Which strings or url's do you mean?

[2017-03-11 18:36] buddhi1980 commented on #260
We need the same number of audio samples as total frame number.

[2017-03-11 18:39] mancoast commented on #260
Excellent, I will work out the details for some alternatives for us to crush this barrier.
Thanks!

[2017-03-11 18:45] mancoast commented on #263
What are your thoughts regarding conversion of the Bibliography.md to Bibliography.h .

https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/deploy/share/mandelbulber2/doc/Bibliography.md

[2017-03-11 19:46] mancoast commented on #253
@buddhi1980 the fulldome perspective type for Mandelbulber is fully compliant with generation of sequences of frames of Dome Master.

Please review the standard for **metadata** for distribution of sequences of frames.
Specification of Dome Master / Dome Original Metadata by Association of Fulldome Innovators (AFDI).
http://www.imersa.org/images/standards/AFDI%20standards%20v1.0.pdf

What are your

[2017-03-11 19:56] mancoast commented on #265
REF: https://github.com/buddhi1980/mandelbulber2/issues/235
related to frame && keyframe displays juxtaposed on GUI

[2017-03-11 19:57] mancoast commented on #231
Confirmed, thoroughly tested on CENTOS7 and WIN64 and WIN32

[2017-03-11 19:57] #231 closed

[2017-03-11 20:01] mancoast commented on #216
I cannot replicate issue with latest build.
@mclarekin can you still reproduce this issue using latest dev build?

[2017-03-11 20:12] mancoast commented on #218
This requires a dynamic collision avoidance system for 3D Fractal Solid Bodies that morph to audio transform.

[2017-03-11 20:14] mancoast commented on #197
Scope is now well defined.  Moving forward to implement an initiative as project.

[2017-03-11 20:14] #197 closed

[2017-03-11 20:18] mancoast commented on #99
CONFIRMED WIN64 WIN32 CENTOS7X64

Well done!
![image](https://cloud.githubusercontent.com/assets/7040493/23826621/f125a3de-066d-11e7-967d-95f885fe48b7.png)

[2017-03-11 20:18] #99 closed

[2017-03-11 20:23] mancoast commented on #266
Im excited for this functionality

[2017-03-11 21:04] mancoast commented on #246
Greetings @mclarekin
Can you please attach some screen shots so I can reproduce the issue.

Thanks,
coast

[2017-03-11 21:09] #201 closed

[2017-03-11 21:15] mancoast commented on #113
Is it safe to assume that the requirements for this enhancement involve major rework and revision?
What milestone do you have in mind @buddhi1980 ?

[2017-03-11 21:38] mancoast commented on #256
Any suggestions for prioritization of this new feature?  The added value of compression reduces requirements for server bandwidth.

[2017-03-11 21:58] mancoast commented on #72
Line 6: formula Collatz - Mod is not used in any examples yet.
	Line 21: formula Abox 4D is not used in any examples yet.
	Line 25: formula Menger 4D Mod1 is not used in any examples yet.
	Line 27: formula Mix Pinski 4D is not used in any examples yet.
	Line 29: formula Sierpinski 4D is not used in any examples yet.
	Line 31: formula T>Add Constant is not used in any examples yet.
	Line 32: formul

[2017-03-12 02:11] mancoast commented on #72
@mclarekin wanna split up the rest of these transforms?
I will start from the Line 104: formula T>Spherical Fold 4D and work my way upwards.

[2017-03-12 02:19] mancoast commented on #72
![image](https://cloud.githubusercontent.com/assets/7040493/23828458/335a522c-06a0-11e7-8590-45f8a745debd.png)

[2017-03-12 02:54] mclarekin commented on #72
I would wait before doing the transforms,  as I will be doing some changes:

1) Update sphere Fold 4D to make it faster, which means that two parameters
are going to change.

2) The following list will be evaluated for applying  a DE factor which may
improve hybridizing with transforms

                case kaleidoscopicIFS:
                case mengerSponge:
                case mengerCrossKIFS:

[2017-03-12 02:59] mancoast commented on #72
a good exploration of all these transforms is long overdue on my behalf.  so many options!

[2017-03-12 03:26] mclarekin commented on #72
Rob, the options are incredibly infinite. You could spend years checking
out the possibilities. I have only tested very few of the  combinations.

spher fold 4D is updated.  Min r  is now min r^2  same with max  r,

also added offset

# Mandelbulber settings file
# version 2.10
# only modified parameters
[main_parameters]
ambient_occlusion_enabled true;
background_brightness 0.17;
background_color

[2017-03-12 07:04] mclarekin commented on #99
It is a good solution

Here is a different solution to address this and  the w issue to consider

On Sun, Mar 12, 2017 at 9:18 AM, mancoast <notifications@github.com> wrote:

[2017-03-12 14:13] buddhi1980 commented on #266
Done

See this (in MeshLab):

![image](https://cloud.githubusercontent.com/assets/11696990/23832530/5444a636-0736-11e7-83d6-d5fb91732ee5.png)

[2017-03-12 14:13] #266 closed

[2017-03-12 14:24] mancoast commented on #266
N3xt level.  Now we are building a system with manufacturing value.

[2017-03-12 16:13] zebastian commented on #266
nice, thank you krzysztof!

[2017-03-12 16:28] zebastian commented on #266
here another example:
![colored mesh example](https://cloud.githubusercontent.com/assets/7888201/23833679/3e939cda-0749-11e7-9d7d-7eb29ae9b458.png)

[2017-03-12 17:38] mancoast commented on #155
We are almost ready for k1om build-package inclusion in next release.

Let us target K1om Offload for WIN64 Build using "Additional Options for MIC Offload Compiler".
This requires include directory and other MIC specifications at MSVC C++/GODE GEN [ICC] dialogue.
The msbuild project references includes and libraries from KNC-Nug-icc171-k1om-mpss38-1.0.777.5.
This alternative resolves: mesh_export

[2017-03-12 22:26] mclarekin commented on #216
Rob, I will check next time I am in Anim by Sound, but I think we  still
did have intermittent problems with the play pause stop controls last time
I used it.

On Sun, Mar 12, 2017 at 9:01 AM, mancoast <notifications@github.com> wrote:

[2017-03-13 17:09] buddhi1980 commented on #190
All done

[2017-03-13 17:09] #190 closed

[2017-03-13 17:12] #181 closed

[2017-03-13 17:19] buddhi1980 commented on #213
You are right. There is no easy solution for this.

[2017-03-13 17:26] buddhi1980 commented on #206
You have assigned yourself to this enhance. Are you going to implement it or should I do this?

[2017-03-13 17:41] zebastian commented on #206
i would be glad if you could do it.
maybe also add the position indicator (white line in audio animation diagram) to the other two diagrams?

[2017-03-13 17:43] buddhi1980 commented on #206
OK. I will do it.

[2017-03-13 17:44] zebastian commented on #206
great, thanks!

[2017-03-13 18:31] #232 closed

[2017-03-14 01:14] mclarekin commented on #264
yep, I confirm that is the problem

[2017-03-14 01:16] mclarekin commented on #264
would suggest to fix now,  not V2.13.

[2017-03-14 01:27] mclarekin commented on #264
this is linked to the other problem, that when editing in fractal tab and click undo,   then program also switches to material editor

[2017-03-14 16:59] buddhi1980 commented on #264
I will try to correct it in 2.11

[2017-03-14 18:04] buddhi1980 commented on #206
Done

[2017-03-14 18:04] #206 closed

[2017-03-14 18:08] buddhi1980 commented on #218
I think @mclarekin has another idea. First to prepare fractal which is changing shape. Then to use this already morphed fractal in Record Flight. It could be used in connection with AnimBySound (but not only)

[2017-03-15 05:58] mclarekin commented on #218
Yes Krzysztof, that was what I was thinking. Flying through an animated 3D
world, to be evaluated after implementation of openCL.

On Wed, Mar 15, 2017 at 7:08 AM, Krzysztof Marczak <notifications@github.com

[2017-03-15 16:21] buddhi1980 commented on #264
I have fixed it. Now Material Tab appears only when is changed selection of current material in Material Manager.
Please let me know if now is better.

[2017-03-15 22:52] mclarekin commented on #264
It works well

On Thu, Mar 16, 2017 at 5:21 AM, Krzysztof Marczak <notifications@github.com

[2017-03-18 10:05] buddhi1980 commented on #239
I did many changes which should automatically adapt fonts and ui elements size to screen resolution and screen DPI. Could you test it on different displays?
Before you start testing, do right click on UI Font Size and reset it to default value.

[2017-03-18 13:37] #235 closed

[2017-03-18 13:38] #265 closed

[2017-03-18 13:38] #264 closed

[2017-03-18 15:01] zebastian commented on #239
just tested on 11,6" inch lenovo e130 which produces 8px font, looks good on this device:
![bildschirmfoto von 2017-03-18 16-00-11](https://cloud.githubusercontent.com/assets/7888201/24073201/0f811a12-0bf4-11e7-8ac5-7ba61f40ddc6.png)

[2017-03-18 15:09] buddhi1980 commented on #260
I have added possibility to export keyframe animation with sound animated frames to Flight Animation. In Flight Animation editor you can edit every frame and save all frames to settings file. To render this animation as Flight Animation, audio files will no longer needed.

[2017-03-18 15:10] buddhi1980 commented on #239
Thanks. This is very small display. Do you have access to any laptop with 4K display? They have big pixel density.

[2017-03-18 15:27] zebastian commented on #239
on full HD on 24" display its 9px font, also looking good:
![screenshot from 2017-03-18 16-24-02](https://cloud.githubusercontent.com/assets/7888201/24073413/ac625708-0bf7-11e7-8be8-c2208e912bf5.png)
Thats my biggest display...

[2017-03-18 16:02] mancoast commented on #239
I will test 4k displays asap. Thanks, coast

[2017-03-18 16:24] zebastian commented on #112
@mclarekin
do we still want the shortname, or are the names in the list now short enough with the new naming convention?

[2017-03-18 16:29] mancoast commented on #260
I will test asap.

[2017-03-18 16:31] zebastian commented on #138
@buddhi1980
Do we still want this for cli? I dont want to bloat the code with a backward compatibility feature anybody hardly ever uses.
CLI module is in general not really interactive so a user may be more confused to see the question box, than rather stick with the old all .mandelbulber folder thing in old version. Even more a problem, if the program has already been built in in some scripted en

[2017-03-18 16:32] zebastian commented on #138
What are your thoughts on this?

[2017-03-18 16:47] buddhi1980 commented on #239
27'' 2560x1440 display. Font size 14px
![image](https://cloud.githubusercontent.com/assets/11696990/24074121/d88c1d54-0c02-11e7-8de2-6b95b8c0db9c.png)

[2017-03-18 17:08] #250 closed

[2017-03-19 07:28] mclarekin commented on #112
I think the new naming convention has made a big improvement.

I suggest we can close this issue

On Sun, Mar 19, 2017 at 5:24 AM, Sebastian Jennen <notifications@github.com>
wrote:

[2017-03-19 10:05] zebastian commented on #112
Alright

[2017-03-19 10:05] #112 closed

[2017-03-19 11:55] zebastian commented on #237
if nobody holds anything against this, i can change this accordingly...

[2017-03-19 13:52] mancoast commented on #237
You da man

On Sun, Mar 19, 2017 at 7:55 AM, Sebastian Jennen <notifications@github.com>
wrote:

[2017-03-19 14:15] #237 closed

[2017-03-19 15:19] buddhi1980 commented on #252
Commit https://github.com/buddhi1980/mandelbulber2/commit/d68b7902269edfb5878e087fc68651ebb2537c66 should solve the problem with loading example setting file containing file paths

[2017-03-19 15:24] buddhi1980 commented on #252
Chould explain a little more the problem

I have just checked if I can animate Color Palette Offset using sound and I see that it works properly

[2017-03-19 16:16] zebastian opened #272 "slow boot up time due to icon loading"
The program takes quite long to bootup right now (from 5 to 10 seconds). This is caused by populateItemsFromFractalList, which will be called 9 times and each time it loads ~100 icons.

possible ways to improve:
- implement a cache to only load the icons once
- use qt internal qrc file to bulk load all images at once

I am unsure what is the best way, any opinions?

[2017-03-19 16:23] buddhi1980 commented on #272
The best will be to use internal cache.
I would not use qrc file for it, because it will be much to big (gcc will consume a lot of memory to compile resources)

[2017-03-22 18:18] #155 closed

[2017-03-22 18:19] #270 closed

[2017-03-22 18:23] mancoast commented on #254
@buddhi1980 thanks for the hint

I have tried to explore the Sierpinski3D, but have not figured out the tetrix configuration.

@mclarekin historically, have you ever rolled up the tetrix with mandelbulber?

[2017-03-23 08:09] buddhi1980 commented on #272
In cFormulaComboBox we can create static QMap<QString, QIcon> container to store icons with access by file name. If item won't be in QMap, then will be loaded, uncompressed and added as Icon to QMap.
I can try to do it.

[2017-03-23 11:20] zebastian commented on #272
Thats a good idea.
i would be glad, if you could do it.
Cheers!

[2017-03-23 11:30] mancoast commented on #263
@buddhi1980 @zebastian I want to proceed with removal of http links from comments.  Please tell me now if we do not wish to pursue this code clean-up.

[2017-03-23 11:34] mancoast commented on #239
Smooth Operation,  Well done!

[2017-03-23 11:35] mancoast commented on #239
confirmed CENTOS7 && WIN10

[2017-03-23 11:35] buddhi1980 commented on #263
Give me an example which links you want to remove

[2017-03-23 11:36] buddhi1980 commented on #239
@mancoast , can you provide a screenshot?

[2017-03-23 11:43] mancoast commented on #263
Reference Line 43 below.  We can instead use a local Bibliography.h

mandelbulber2/src/common_math.cpp
41	//********** Random ******************************
42	// reference:
43	// http://csg.sph.umich.edu/abecasis/class/2006/615.14.pdf
44	// Park-Miller Generator Without any Divisions

[2017-03-23 11:45] buddhi1980 commented on #263
This kind of referenced I would like to keep in the code

[2017-03-23 11:48] mancoast commented on #263
that is ambiguous answer as both common_math.cpp and Bibliography.h are both in the code.
1.) we can use Bibliography.h for local strings foreach http links.
2.) we keep non-functioning http links in-line with functioning code.

It is my opinion that inline http references are clutter/lint

[2017-03-23 11:53] buddhi1980 commented on #263
In bibliography.md we have just a list of external references. But this information is not useful when there is no connection between reference and the code.
If the reference is in comment in the code there is very visible information for us from were algorithm was taken. If you put this information in another file how you would like to manage links between reference ad code?

[2017-03-23 12:15] mancoast commented on #263
For representation of the links, we simply use static strings that hold the value of the links.
for example: MB_R77 = "http://csg.sph.umich.edu/abecasis/class/2006/615.14.pdf";
Then we reference our internal MB strings references.
This keeps things nice and orderly via standardization.

[2017-03-23 12:16] mancoast commented on #239
When I have physical access to test again, I will record a screenshot

[2017-03-23 12:21] buddhi1980 commented on #263
But why to make it complicated?
If we talk about standardization we can standardize way how references are written in the code. But I will not agree to move references out of the code. We can make separate list in https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/deploy/share/mandelbulber2/doc/Bibliography.md but in the code it has to be duplicated.

[2017-03-23 12:49] buddhi1980 commented on #272
Done.

[2017-03-23 12:49] #272 closed

[2017-03-23 14:26] mancoast commented on #263
I think there is a miscommunication here.
I will use a PR for review before merging any changes.

[2017-03-23 17:40] zebastian commented on #263
we also need the direct references in fractal_formulas.* for the tools/* scripts to recognize the URLs and put them in the ui files.
I am with krzysztof: Better to keep the URLs directly in the code.

[2017-03-23 18:15] mancoast commented on #263
Let me clear up the miscommunication.

First, we always have the opportunity to do nothing.  That is our null option.
Now there also exists an alternative option.

Picture this if you will:
The new altertive requires conversion of Bibliography.md to Bibliography.h
=>
common_math.cpp and Bibliography.h are both in the code.
==> We develop a file, Bibliography.h, to include anytime we need to refere

[2017-03-24 15:54] mancoast commented on #239
When I first opened the system, the font size matched my last configuration for 14pt font.
14pt font on 3840x2160:
![untitled2-14pt](https://cloud.githubusercontent.com/assets/7040493/24302289/835be26c-1088-11e7-8fb1-e6064458d3bb.png)

The 'reset to default' function on the 'font size' does not operate.
With windows 10 and 3840x2160 resolution, 'reset to default' function on the 'font size' == 50

[2017-03-24 16:10] mancoast commented on #239
greetings @buddhi1980

In summary, we have unexpected behavior occurrence with 3840x2160 resolution.
This unexpected behavior occurred on Windows 10.  I have not  yet retested on CENTOS7.

The system will reset the default font size as 50pt.
I doubled checked the same procedure on 1920x1080,  and the default font was 9pt and it looked good.

thanks,
coast

[2017-03-24 16:39] mancoast commented on #72
nice example!
So I think we have working examples foreach formula.
I will close this issue and as the remaining void of examples is composed of transforms.

[2017-03-24 16:39] #72 closed

[2017-03-24 16:48] buddhi1980 commented on #239
@mancoast. In the system Control Panel what font scale was set? 100% or bigger? What was the size of the screen?  17 inch laptop? All of there information are really important to analyze test results.

[2017-03-24 16:51] mancoast commented on #253
after additional research, it is my opinion that we do not require.

[2017-03-24 16:51] #253 closed

[2017-03-24 16:52] mancoast commented on #263
tabled for later

[2017-03-24 16:52] #263 closed

[2017-03-24 16:55] mancoast commented on #252
Thanks!

[2017-03-25 00:17] mancoast commented on #249
resolved https://github.com/buddhi1980/mandelbulber2/commit/db400fef96b5429bcd79dbee510440af08b58f11

[2017-03-25 00:17] #249 closed

[2017-03-25 00:23] mancoast commented on #239
This is on a 65" display.  The font scale is 100%
![image](https://cloud.githubusercontent.com/assets/7040493/24317639/87488eb0-10cf-11e7-9f3c-74e042b32506.png)

Aslo, the icons for the examples are huge!
![image](https://cloud.githubusercontent.com/assets/7040493/24317646/aecb5ae4-10cf-11e7-94d6-6d0472ccc484.png)

[2017-03-25 01:35] mancoast commented on #252
Greetings Buddhi,
The camera roll operates perfectly!
The animation seamlessly rolls to the audio.
I have tried to modify the example referenced below to include pallet offset.
I cannot get any affect?

Do you have any suggestions?
[animation__render01-v54.zip](https://github.com/buddhi1980/mandelbulber2/files/869557/animation__render01-v54.zip)

https://www.youtube.com/watch?v=1OIbB79-0FE

[![ani

[2017-03-25 02:45] mclarekin commented on #254
@mclarekin <https://github.com/mclarekin> historically, have you ever
rolled up the tetrix with mandelbulber?

no

On Thu, Mar 23, 2017 at 7:23 AM, mancoast <notifications@github.com> wrote:

[2017-03-25 02:47] mclarekin commented on #252
@ rob,  If you send settings file I will have a look

On Sat, Mar 25, 2017 at 2:35 PM, mancoast <notifications@github.com> wrote:

[2017-03-25 10:41] buddhi1980 commented on #239
This strange, because for such a big display DPI value should be very low. Was this 65" display a main display, or it was as secondary connected to laptop?

[2017-03-25 13:22] mancoast commented on #239
This system has one 4k display.  I will further test with the msvc debugger.

[2017-03-25 13:35] mancoast commented on #252
icoastahedron.fract::

[code]

[2017-03-25 14:11] mancoast commented on #239
@joffnerd Do you want to join our fractal community and help test this issue?  This code is written using C++, instead of C#, but there still exists Visual Studio projects.  We need intelligent testers.

[2017-03-25 19:43] mancoast commented on #260
REF https://github.com/mancoast/mandelbulber2/commit/46e893d2de05b030b54cffb0e025a4c3efc0e973
The flight data export did not operate as expected.
The resulting flight animation does not match the keyframe animation.
Also, the data in the flight animation export produced multiple invalid frames that crash/render incorrectly and produce tiny png files.  This is reproducible with different keyframe a

[2017-03-25 21:04] buddhi1980 commented on #260
I have just tested it and confirm that there is something wrong.

[2017-03-25 22:04] buddhi1980 commented on #260
Problem fixed. Now animation should be properly exported.

[2017-03-26 16:17] mancoast commented on #260
Confirmed fully operational.
k1om enabled without libsndfile for visualization.

[2017-03-26 16:17] #260 closed

[2017-03-26 16:20] mancoast commented on #252
@buddhi1980 Can you reproduce color pallet affect with this settings file?
Please help.  When I export to flight animation, all color offset values remain a constant value of 1.
Most likely we need reconfiguration of the pallet offset.

[2017-03-26 16:26] mancoast commented on #251
@buddhi1980 The recent enhancement of export from 'anim by sound keyframe' to 'anim by sound flight path' enables this feature.  This offers added value by provided the charted path values.  Additionally we need the animation offsets.  Ideally the end user needs to be able to hand tune in Spreadsheet.  The user requires both the original flight path data recorded before audio.   Secondly, the end

[2017-03-26 17:33] buddhi1980 commented on #252
Try setting below:

You have tried to animate ```mat1_use_colors_from_palette``` parameter, which doesn't make sense. It only enables color palette. To get animation of palette offset you should use ```mat1_coloring_palette_offset``` parameter in animation.

[code]

[2017-03-26 22:50] mancoast commented on #252
confirmed operational

[2017-03-26 22:50] #252 closed

[2017-03-26 22:51] mancoast commented on #248
includes color reaction https://github.com/buddhi1980/mandelbulber2/issues/252

[2017-03-26 22:54] mancoast commented on #243
i would prefer we wait until mp3 patent expires.  Then we can request mp3 support within the libsndfile code.

https://github.com/buddhi1980/mandelbulber2/issues/249 reduces severity.
libsndfile nuget enables loading of compressed audio formats

[2017-03-26 23:02] mancoast commented on #241
@buddhi1980 Can you supply the command line arguments to override perspective to full_dome when using headless system?

[2017-03-26 23:18] mancoast commented on #248
https://github.com/buddhi1980/mandelbulber2/commit/f6d11ccbf30a734a2098477f42355cb1ce7ec70f

[2017-03-26 23:18] #248 closed

[2017-03-27 03:04] mclarekin commented on #252
good.

BTW you can also animate the color of primitive objects.  ie the three RGB
parameters.  These are big numbers, and from memory I think we might have
to increase the sound value "add" spinboxes ranges.

On Mon, Mar 27, 2017 at 11:50 AM, mancoast <notifications@github.com> wrote:

[2017-03-28 16:19] buddhi1980 commented on #241
```mandelbulber2 --override perspective_type=3#sweet_spot_vertical_angle=60 settings.fract```

There are two overrides:
1. perspective type changed to 3 (which is fulldome)
2. sweet spot angle = 60, because you don't want to watch animation at zenith. It's better to move sweet spot to the front.

[2017-03-28 23:49] mancoast commented on #241
works great, thanks!

[2017-03-28 23:49] #241 closed

[2017-03-29 17:16] buddhi1980 commented on #239
I have added screen resolution and DPI output to console and mandelbulber_log.txt file. @mancoast, if you can repeat test on that 4k display will be great.
In log file should be something like this (about 5th line)
```PID: 17271, time: 0.107369163, Info: Screen resolution QRect(0,0 2560x1440) Screen DPI 96```
I need this to check if Windows reports screen DPI in correct way.

[2017-03-29 20:02] mancoast commented on #239
Thanks for the updates!  @buddhi1980 I will retest this ASAP and post screen shot.

[2017-03-29 20:11] buddhi1980 commented on #239
Please post mandelbulber_log.txt, too.

[2017-03-29 20:13] mancoast commented on #239
no problemo. shoudl have access to the hardware soon

[2017-03-30 00:24] mancoast opened #273 "Build a consensus for cost of FPGA"
Please provide feedback.

[2017-03-30 00:27] mancoast commented on #273
@buddhi1980 @zebastian @mclarekin
What do you guys think about FPGA selection?
Ideally we target a mass-produced part by either Xilinx or Altera.

[2017-03-30 00:41] mancoast commented on #138
@zebastian
Can we finish this in 4 weeks?
Will this break for people that had the system operational in the legacy folder?
Is it possible to support both legacy and future folder system?

[2017-03-30 00:43] mancoast commented on #77
4 weeks untill 2.11
@mclarekin do we want to bump to 2.12?

[2017-03-30 00:44] mancoast commented on #80
Please supply more information.
Let us bump this feature to 2.12.

[2017-03-30 00:45] mancoast commented on #100
no high on priority list
bump to 2.12

[2017-03-30 00:47] mancoast commented on #104
@buddhi1980 @mclarekin
Any updates? I want to test this feature.

[2017-03-30 00:49] mancoast commented on #114
@buddhi1980 is this feasible given the 4 week time constraint for 2.11?
We can bump the enhancement to a later release if its more convenient forall.

[2017-03-30 00:51] mancoast commented on #118
@buddhi1980 what is priority?

[2017-03-30 00:54] mancoast commented on #154
tabled for opencl.
please re-open if required.

[2017-03-30 00:55] mancoast commented on #157
I use Spreadsheet for this functionality.
To truly add value with the QtScriptEngine, the Animation GUI requires a massive overhaul.
I suggest we table this for after opencl.
Please re-open if required.

[2017-03-30 00:57] mancoast commented on #210
@buddhi1980 @mclarekin any updates?  Can we still reproduce this bug? Will this be fixed for 2.11?

[2017-03-30 00:58] mancoast commented on #184
@buddhi1980 I do not have time to focus on C++.  I require HDL which is why I opened the FPGA Project here.  Can you please tackle this gamepad bug?

[2017-03-30 00:59] mancoast commented on #218
Bump to opencl, 2.12

[2017-03-30 01:01] mancoast commented on #216
@mclarekin Any updates? I tried on Windows 10, not able to reproduce the crash.  I will close issue, please re-open if bug still exists.

[2017-03-30 01:01] #216 closed

[2017-03-30 01:01] mancoast commented on #222
@buddhi1980 This is very high value!

[2017-03-30 01:02] mancoast commented on #215
I will repair this build system, but not within the time constraint of 4 weeks.  Bumped to 2.12.

[2017-03-30 01:06] mancoast commented on #246
So we open up an example and change stuff around.
We cannot revert back to the last save.

@buddhi1980 The Main Menu requires a "Revert" option found on many text editors.
![image](https://cloud.githubusercontent.com/assets/7040493/24483046/903b5e38-14c3-11e7-9c54-32da6d822343.png)

[2017-03-30 01:11] mancoast commented on #251
low value, tabled for after opencl

[2017-03-30 01:11] #251 closed

[2017-03-30 01:32] mancoast opened #274 "Determine Target FPGA Vendor and consider continuous integration of FPGA design tools."
We use C++ to code the algorithm.
We use Hardware Description Language to code hardware!

Altera Quartus
Xilinx Vivado
https://www.altera.com/products/design-software/overview.html
https://www.xilinx.com/products/design-tools/vivado.html

[2017-03-30 01:40] mancoast commented on #274
I require upgrade of k1om boards to pci-express fpga.

[2017-03-30 01:47] mancoast commented on #274
Coprocessor x100 Product Family, Knights Corner, k1om
Server Vertical Segment Processor Number **5110P**
Status: End of Life; Lithography: 22 nm; TDP: 225 W

We require the new FPGA Accelerator to exceed the k1om acceleration.

[2017-03-30 04:31] buddhi1980 commented on #138
agree with @zebastian . We can close it

[2017-03-30 04:31] #138 closed

[2017-03-30 04:34] buddhi1980 commented on #157
Why you close it? You should change milestone. We forget about closed issues.

[2017-03-30 04:44] buddhi1980 commented on #274
You have no time to fix gamepads coordinates issue and you are going do stuff like this?

[2017-03-30 06:04] mclarekin commented on #246
Change milestone to V2.13, as this is really minor.  A revert option would
do it but there is probably another way. To reproduce simply open a saved
file, then open it again, then do the same with an example setting file and
you should see the difference.

On Thu, Mar 30, 2017 at 2:06 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:07] mclarekin commented on #216
Last time I tested audio it still happens. It is not a crash just
intermittent  non functioning controls. I would leave it open  and await
me getting back on to audio stuff.

On Thu, Mar 30, 2017 at 2:01 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:09] mclarekin commented on #218
or 2.13. Getting openCL working is 2.12 this can be done afterwards.

On Thu, Mar 30, 2017 at 1:59 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:10] mclarekin commented on #210
bump to 2.12, it awaits me getting back onto animation.

On Thu, Mar 30, 2017 at 1:57 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:21] mclarekin commented on #118
suggest v2.13. Once OpenCL is implemented then it will be easier to work on
these slow things. This is one of a few things that are best looked at once
we have OpenCL GPU power.

On Thu, Mar 30, 2017 at 1:51 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:24] mclarekin commented on #114
I suggest bump it. I suspect  we will run out of time for this.

On Thu, Mar 30, 2017 at 1:49 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:34] mclarekin commented on #104
What happened here was a coding bug that was fixed by Krzystof, quote:
The weird thing is I thought that when I tested this some months ago I
could move the texture.

but I added some other possible enhancements relating *only to* the
colorTextureFromImage.  What it means is you can use a primitive object
(most commonly a flat plane) and apply a jpg to it and position it where
you want it. Similar

[2017-03-30 06:37] mclarekin commented on #104
flat plane,, ??? oops I meant rectangle.   refer
https://mail.google.com/mail/u/0/#inbox/155154e0488c5be8?
compose=155c947a0b1b60c2

On Thu, Mar 30, 2017 at 7:34 PM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-03-30 06:37] mclarekin commented on #100
realistically 2.13

On Thu, Mar 30, 2017 at 1:45 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:40] mclarekin commented on #80
This should be possible in openCL.  It is a bit trickier in c++ and would
add yet another if() into the main compute fractals.

I would bump to 2.13 and have another think about it then

On Thu, Mar 30, 2017 at 1:44 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 06:52] mclarekin commented on #77
bump it to 2.13 . It may be best suited as an expansion to what I wrote in
the user manual.

It is a very helpful tool which I think might be unique to  Mandelbulber .
I *always* have statistics open when I am exploring.

On Thu, Mar 30, 2017 at 1:43 PM, mancoast <notifications@github.com> wrote:

[2017-03-30 07:02] mclarekin commented on #222
I got sidetracked onto formula stuff that I had to implement before I again
forgot about it.

I have to finish off my formulas, then I want to do some English things
with Kryzstofs latest user manual wording (unless Rob wants to do it ).

 Then I can do this which will take very little time to implement for
testing.  It is all very simple conditional statements.

On Thu, Mar 30, 2017 at 2:01 PM, m

[2017-03-30 10:21] mclarekin opened #275 "enhancements to fog"
evaluate controls for fog, such as position, extent,  primitive shapes bounding the fog,  layers and varying the density.

Assume raymarching reflections to not be enabled when using this enhancement.

After openCL,  is may also be practical to implement IQ clouds.

[2017-03-30 10:39] mclarekin opened #276 "Detail size controls"
Evaluate being able to control the detail size of both near and far, and possibly the way it transitions from near to far.

Currently there is normal mode and constant detail mode.

[2017-03-30 11:33] mancoast commented on #274
I am electrical engineer, not software engineer. Software is cool, but I play with hardware.

[2017-03-30 15:40] mancoast commented on #222
Good plan!
We need more filters for autonomous generation of the audio offsets.
I will find some reference code from other music visualizers.

[2017-03-30 15:46] mancoast commented on #104
Does this feature require action?
Does the placement of jpg rectangles function in current state of art?
I want to test this ASAP. high value

[2017-03-30 15:48] mancoast commented on #118
@mclarekin good thought process. I agree.

[2017-03-30 15:51] mancoast commented on #154
I close issues because majority of these 'issues' do not cover bugs, instead features.
The negative connotation of the work 'issue' annoys me when we stack valuable features by the dozen and call them issues.  I wish GITHUB would rename 'issues' to 'tasks', lol

[2017-03-30 15:58] mancoast commented on #157
I close issues, lol.  Sometimes we have to re-open them.  Life is good!

[2017-03-30 16:37] buddhi1980 commented on #274
I am automation engineer, not software engineer :) I'm programming PLCs and work with much bigger electric hardware

[2017-03-30 16:41] mancoast commented on #274
The new FPGA's are PCI express.  We can crush a custom accelerator in no time.
Essentially, FPGA Accelerated Compute Node using Heterogeneous C-based modeling and hardware design with FPGA for Mandelbulber OpenCL.

[2017-03-30 16:45] buddhi1980 commented on #154
Because Github doesn't have tool to report "wishes" we use "issues". So please don't close them. Enhancement report is also an issue, because it describes lack of functionality or performance.

[2017-03-30 16:51] buddhi1980 commented on #243
It has to be open until problem is not solved. We have no deadline for it.

[2017-03-30 16:57] mancoast commented on #154
Maybe I should write them a nice handwritten letter, lol

[2017-03-30 18:42] zebastian commented on #274
@buddhi1980 you certainly got my promotion as a software engineer ;)
@mancoast Maybe its possible to use altera fpga with the new opencl code: https://www.altera.com/products/design-software/embedded-software-developers/opencl/overview.html
But thats out of my scope, would be highly interesting to see, if this works and how it performs.

[2017-03-30 22:58] mclarekin commented on #104
I need to test it out again to remind myself.

Does the placement of jpg rectangles function in current state of art?
Yes, Material Manger implementation made this possible,  but it it is not
independent of the other texture controls.

Additionally we want to be  able to use .png with alpha channel. I cannot
remember if this part has been implemented

I suggest you check out the current state, it

[2017-03-31 11:33] mancoast commented on #104
top o' line; State o' Art; Mandelbulber Fractals

[2017-04-01 17:34] zebastian commented on #256
I am doing a couple of Tests right now comparing:
- Lzma
- ZIP
- No compression
I will post results in the next days...

[2017-04-02 17:44] ghost opened #277 "Completely Rework the GUI"
EDIT:
I would like to see a mode for "fun".
I want a slider switch to go from "fun" mode into "advanced" mode

When the system initiates, we need to hide 90% of the GUI for "fun" mode.
Given OpenCL support, we need to enable users to launch, then play.

The GUI requires massive simplification engineering.
We need to make it easier to use.
Any thoughts/suggestions?

[2017-04-02 18:25] ghost opened #278 "Randomize Design"
We love the randomize color palette option.
How about another option for the fractal solid voxels.
Please implement a random button that selects from the different formulas and transforms and populates parameter data.
Each click of the new "Randomize Design" button uses pseudo-random number generators to assure creation of unique content.

[2017-04-02 20:40] buddhi1980 commented on #239
I have found final and good solution for font and UI element sizes. Now it uses systemwise font settings.
Font size is defined not in pixels but in point. This is hardware independent method (the same font size will have bigger pixel size on high resolution display)
When application is launched there is checked what is default system font size (in point) and used as a application default fount siz

[2017-04-02 20:43] buddhi1980 commented on #277
We need professional UI designer in our team.

[2017-04-02 20:47] buddhi1980 commented on #278
Have you seen Mutagen in JWildfire program?

[2017-04-02 20:59] mancoast commented on #277
Agreed, we need more people from the community to join in the action

[2017-04-02 21:00] mancoast commented on #278
I havevt seen it, but I like the name.
Maybe we can call it 'transmutate' button

[2017-04-03 08:50] mclarekin commented on #278
Apohysis also  has a mutagen type thing.

I would suggest that Mandelbulber is much more complex for the simplified
approach used in other programs
 The  working range of a  specific parameter is sometimes very dependent on
other parameter settings.

There :

- may have to be a selection of formula related mutagens, constructed from
a working knowledge of the formula specific parameters.

- may re

[2017-04-03 09:39] mclarekin commented on #239
Seems OK.  On loading  latest commit, the default which was 11,  I suspect
that most users with my size screen would keep the default.

Old font 12 is equal to new font 9  (which is what I have it set to on the
attached image), which is OK and will be my default. Arrows could be
smaller??

On Mon, Apr 3, 2017 at 8:40 AM, Krzysztof Marczak <notifications@github.com>
wrote:

[2017-04-03 11:04] mclarekin commented on #239
These weird things always happen to me :)

Diagonal split toolbar thumbnails when toolbar icon size = 55

Test case
font set to 9.

toolbar icon sizes:

60 ok

56 ok
55 diagonal split
54 ok
43 ok
42 0k

25 ok

On Mon, Apr 3, 2017 at 9:39 PM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-04-03 11:17] mclarekin commented on #239
And ...

this may be unrelated :

Procedure ->

load mandelbulber

then do a lot of testing/changing  the toolbar icon size

i hear cpu surging

i notice mandelbulber is using 2.2 gb

mandelbulber is in theory inactive as i have not changed the icon size for
a minute, but it is still surging  randomly through a range of 6 to 39% cpu
usage.

close program, and cpu usage stopped.

I will wait and se

[2017-04-03 15:04] buddhi1980 commented on #239
I confirm problem with toolbar icons. They are not displayed collect when size is not multiply of 4.

[2017-04-03 15:06] buddhi1980 opened #279 "Problem with displaying toolbar cons when size % 4 != 0"
Toolbar icons are not loaded properly from thumbnail cache when size is not a multiply of 4.

[2017-04-03 20:02] zebastian opened #280 "refactoring folder structure"
a couple of folders could be rearranged, renamed or removed in order to clean up the project and make the intention more clear, here is a list open for discussion:

@mancoast
[x] 3rdparty -> *delete*
[x] mandelbulber2/mandelbulber2.sln -> mandelbulber2/msvc2014
[x] mandelbulber2/NuGet.config -> mandelbulber2/msvc2014

__regarding qmake:__
[x] check new pro files in qmake and specify as build path

[2017-04-03 20:18] mancoast commented on #280
@zebastian the 3rd party refs have been removed.
The windows build relies on the solution in the root of repo.
This requires rework and careful re-testing when we change.

[2017-04-03 20:23] buddhi1980 commented on #280
Agree with almost all.
mandelbulber2/data/mandelbulber_1.21_defaults.fract is still needed to import old setting files. But we can move it to another place.

@mancoast , most of all mentioned changes need reworks. We can do them step by step, but all should be   done. Root folder should be as clean as it is possible.

I'm not sure if have enough time to do all in v2.11. They will need a lot of tes

[2017-04-03 20:28] mancoast commented on #280
It's a solid plan.  I am ready for experimentation of 2.12

[2017-04-03 20:28] zebastian commented on #280
Yes, i know this breaks existing CIs and annoys package maintainers used to the old way, but in the long run we are probably better off.
I wont fumble in your msvc files, take your time and apply changes when you are confident about it.
I can do the formula related changes (no backward compatibility issues)
and the qmake changes (this means trouble :/ )

[2017-04-03 20:31] zebastian commented on #280
@buddhi1980 you are right. We are pretty close to next Version, so bettet to move it to the next release

[2017-04-03 20:59] mancoast commented on #239
Looks good with WIN10 x64 1920x1080
Tested https://github.com/buddhi1980/mandelbulber2/commit/768ba9d1f65cae5968cdaa9ddf12c473771fa057

![image](https://cloud.githubusercontent.com/assets/7040493/24631506/96bdf2ba-188e-11e7-96ca-cc4e243554c8.png)

[2017-04-03 22:07] mancoast commented on #239
By default, windows 10 scales 300% when UHD display connected.
In my opinion the default sizes look better.
![4k_test-300](https://cloud.githubusercontent.com/assets/7040493/24633752/24731370-1898-11e7-9b10-6382aac98ea9.png)

When using 4K with 100% scaling, all applications looked tiny, not just mandelbulber.
![4k_test](https://cloud.githubusercontent.com/assets/7040493/24633753/2473138e-1898-11e

[2017-04-03 22:42] mancoast commented on #278
Reference mandelbulb 3D source code:
https://github.com/thargor6/mb3d/blob/master/mutagen/MutaGen.pas

This enables beginners to immediately dive in and make original content.

[2017-04-04 15:52] #279 closed

[2017-04-04 16:04] buddhi1980 commented on #239
@mclarekin I have fixed problem with "diagonal split" of toolbar icons. Increased CPU load after changing toolbar icon size could be caused just by rendering of these icons. They are rendered with antialiasing, so it takes some time. If you any items which are long too render you need to wait some time to finish all. There is used only 1 CPU core for each icon.

@mancoast , Thank you for testing i

[2017-04-04 16:04] #239 closed

[2017-04-04 18:49] mclarekin commented on #239
Increased CPU load after changing toolbar icon size could be caused just by
rendering of these icons

Yep, i currently have 150 toolbar icons. :)

On Wed, Apr 5, 2017 at 4:04 AM, Krzysztof Marczak <notifications@github.com>
wrote:

[2017-04-04 20:00] mancoast commented on #274
I have opened multiple support tickets with altera.
Everyone OK if we proceed with Altera (Intel FPGA) ?

Checkout this free online training for more info:
https://www.altera.com/support/training/course/oopnclimageproc.html

[2017-04-05 11:06] mclarekin commented on #239
In  save_settings,  the file name font  is a bit small on a laptop screen.
Attached image has the main UI font = 12.

On Wed, Apr 5, 2017 at 6:49 AM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-04-05 15:57] buddhi1980 commented on #239
@mclarekin , you haven't attache any image. To attach image you need to do it from Github (not by email)

[2017-04-06 02:51] mclarekin commented on #239
![filesave](https://cloud.githubusercontent.com/assets/12769564/24735744/827287fc-1ad8-11e7-835b-39bb04c00bfb.jpg)

[2017-04-06 16:21] buddhi1980 commented on #239
Unfortunately there is no straight way to change font size in QFileDialog. This is probably system dependent.

[2017-04-08 13:49] mancoast commented on #278
@buddhi1980 Can we 'pseudo' implement this feature by simply loading a random example, then randomizing the color palette, and randomizing the camera target?

[2017-04-09 05:00] mclarekin commented on #277
One enhancement could be to have a row that is a warning panel, which tells me what non default functions are on.  These are the functions I sometime forget I have on,

julia, max iters, boolean, hybrid, ray marching reflections,  mouse click is not on move camera option.

[2017-04-09 08:01] mclarekin commented on #277
and alert me when max view distance has become > 100.

[2017-04-09 17:23] mancoast opened #281 "Application Crash on Entry"
##### System information (version)

- mandelbulber2 => dev branch
- Operating System / Platform => WIN64
- Compiler => MSVC14

##### Detailed description

Application Crash on Entry

##### Steps to reproduce
Compile via Visual Studio.
Launch Debugger:
![image](https://cloud.githubusercontent.com/assets/7040493/24839413/c1755956-1d27-11e7-829c-52a96c708dc9.png)

[2017-04-09 18:18] buddhi1980 commented on #281
It happens only with MSVC bulds. On Linux works properly. I have the same with my MSVC14 compiler.

What I found it happens only when QPixmap tries to load JPG files. With PNG works properly. Is there possible that there is something wrong with NuGet for libjpg?

[2017-04-10 00:31] mancoast commented on #281
This only happens for debug builds.
Occurs for debug x64 and win32.
I have tired different nugets without success.
I recently finished a fresh compilation of all libs from source, except QT5.

This looks like a QT5 widgets bug, not libjpg.

[2017-04-11 11:47] mancoast opened #282 "Feature: Render ALL examples: Select Resolution"
I need this feature for demo.

Thanks!

[2017-04-12 16:05] mancoast commented on #222
@danilobellini Do you have any suggestions or sample code from your DSP library that we can implement in C++?

[2017-04-12 19:36] zebastian commented on #282
Do you want this in the benchmark for performance measuring or do you want to render all example images in one resolution?

[2017-04-12 20:51] mancoast commented on #282
The benchmark please.

[2017-04-13 15:59] #282 closed

[2017-04-14 09:22] zebastian commented on #278
my five cents on this topic:

its hard / impossible to make educated guesses about a fractal formula parameter and its effect in the first place. A fine tuned Trial and error machine could help:

A randomizer could be implemented the following way
iterate till 'cool':
  1. take a random parameter and change by random amount
  2. apply heuristics and check if result is better than before (than keep

[2017-04-14 11:32] mclarekin commented on #278
a) I think we would need to make several randomizers. Basic (controlled
limited  randomization) to Complex (suitable for an experienced user.)

. basic is UIs that will cover the situations that are most likely to
produce good results. Maybe a few analytical linear and log ones. OpenCL
implementation makes this feasible .

 The heuristics control with bad DE may need to take into account the
propo

[2017-04-15 05:58] acidhunter commented on #256
i found this tool to benchmark and compare the various libs
https://github.com/inikep/lzbench

greets ;-)

[2017-04-15 07:59] zebastian commented on #256
compression is already in place:
https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/src/lzo_compression.h
this is using lzo1x_1_compress(...)
lzo1x 1 has a great (de-)compression speed, good compression ratio and was fairly easy to integrate.

[2017-04-17 08:28] zebastian opened #283 "add coordinate arrows"
in the render image widget there could be a checkbox to toggle the coordinate system visible in the image (x-y-z arrow with names)
taurus has requested this feature, see also issue on fractalforums: http://www.fractalforums.com/feature-requests/coordinate-arrows/

[2017-04-17 15:44] mancoast opened #284 "LZO Nuget"
Required for MSVC Build

[2017-04-17 15:57] mancoast opened #285 "Save Images From Benchmark into TIMESTAMPED Folder"
Please save all images as png into a new folder.
This new folder should reflect the initial launch time of the benchmark.
We must validate the imagery when considering time.

[2017-04-17 15:59] mancoast opened #286 "Add Intense and Precise Logging foreach example of Benchmark"
Start Time
Filename
End Time
Features render: **critical**
We must list the key features when parsing and example for benchmark.
Consider things such as reflections, SSAO, etc...
What makes the render slow?
What makes the render fast?

We need to document ALL of these things and include in manual.

[2017-04-17 19:42] mancoast commented on #284
resolved with https://github.com/buddhi1980/mandelbulber2/commit/01bab3b6d13b6b5600da9ec4a29b619c9e0db958

[2017-04-17 19:43] #284 closed

[2017-04-18 16:03] mancoast commented on #285
@zebastian @buddhi1980 How Do we implement this?  Please provide directions.

[2017-04-18 19:22] buddhi1980 commented on #256
Tested under Windows 10 (mingw64 cross-compiled) - works very well. Cross compile scripts already corrected.

[2017-04-18 19:41] buddhi1980 commented on #256
Tested NetRender between two different platforms: Win10 <-> Debian - works OK.

[2017-04-18 20:24] zebastian commented on #256
Nice, programming blindfolded :D

[2017-04-19 15:47] zebastian commented on #285
for what purpose do you want to have the tested rendered images?

[2017-04-19 16:48] mancoast commented on #285
Essentially, I want to do a full factorial experiment.  I will not put my name on render time data, without prior inspection of the output.  Its for quality assurance.

[2017-04-19 17:10] mancoast commented on #285
https://github.com/buddhi1980/mandelbulber_doc/issues/2

[2017-04-19 17:19] mancoast opened #287 "Difference Between Ray Marching and Ray Tracing, possible to substitute?"
@buddhi1980  What are the chances of using Embree with this system?
https://embree.github.io/

[2017-04-19 17:34] buddhi1980 commented on #287
No chance. This kind of kernels are not optimized for fractals which are calculated from algorithms (no geometry data is available). This was the reason to write own rendering kernel.

[2017-04-20 11:51] mancoast commented on #268
@zebastian This is broken again.  I can fix it, but we need to understand why.
marchingcubes.h(132): error C3016: 'kk': index variable in OpenMP 'for' statement must have signed integral type (compiling source file C:\projects\mandelbulber2\mandelbulber2\src\mesh_export.cpp)

*Visual Studio requires a signed integral type.*

[2017-04-20 16:28] buddhi1980 commented on #268
I hope latest commit https://github.com/buddhi1980/mandelbulber2/commit/9d487b20bf8708a7c9952aef75569de78abec2f8 fixes this problem

[2017-04-20 19:05] zebastian commented on #268
Thanks for the fix :)

[2017-04-20 20:21] mancoast commented on #268
muchos gracias!

[2017-04-20 20:21] #268 closed

[2017-04-20 20:27] mancoast commented on #287
I seek the difference between "Ray Marching" and "Ray Tracing".
I understand Ray of light similar to how we see them coming down through the clouds from the sun.
That is pretty much the extent of my understanding of the algorithm, (I do not understand ray trace/march).

What is the difference?
Do we say Ray Marching, but actually mean Ray Tracing?

Where in the code exists the actual 'ray march'?

[2017-04-21 17:21] buddhi1980 commented on #287
here is good explanation what is ray-marching:
https://computergraphics.stackexchange.com/questions/161/what-is-ray-marching-is-sphere-tracing-the-same-thing

2017-04-20 22:27 GMT+02:00 mancoast <notifications@github.com>:

[2017-04-21 19:06] taurus66 commented on #278
I use random fields for several values. They are currently generated in a simple spread sheet. They depend on the initial value and the amount of variation. So in this case an additional input slot would be needed for the wanted variation - maybe global within the measurement module.
With the following simple calculation, I make sure, to get a randomized value (or vector), that has a range of init

[2017-04-22 18:51] taurus66 commented on #287
In simple words (I try) raytracing is used, when a triangular geometry is used for objects. There is no step width for rayracing programs. a single ray measures the distance between camera and geometry, as the distance is given from the beginning. In distance estimated fractals the distance must be calculated step by step until the distance between raystep and surface is close enough to terminate

[2017-04-23 12:35] taurus66 opened #288 "saving tiff images with double extension"
##### System information (version)

- mandelbulber2 => v2.10
- Operating System / Platform => win 10 64bit
- Compiler => windows binary

##### Detailed description

saving tiff images fails or has double extension
##### Steps to reproduce

behaviour when saving tiff images on my system has two possible results:

- saving tiff with pattern "name" (no extension written) saves nothing - at least I ca

[2017-04-23 13:06] buddhi1980 commented on #288
Thanks for reporting this problem. I have just fixed it.

[2017-04-23 13:06] #288 closed

[2017-04-23 16:12] mancoast commented on #287
Thanks for info dudes.

So in my own words:
Ray-Tracing: requires **3D models** to render voxels.
Ray-Marching: requires **formulas** to render voxels.

We use algorithmic distance estimation with Ray-Marching to emulate light.
Please help me understand more regarding this distance estimation requirement.

Thanks!
coast

[2017-04-23 17:21] buddhi1980 commented on #287
Mandelbulber is not calculating voxels at all. It just calculate estimated distance to the objects.

[2017-04-23 17:32] buddhi1980 commented on #287
About distance estimation read our user manual. There is section about distance estimation.

[2017-04-23 17:39] mancoast commented on #287
Actually, I aim to rewrite that segment of the manual. We need to confirm that my understanding is correct

[2017-04-23 17:45] buddhi1980 commented on #287
Why are you going to rewrite it, when you don't understand distance estimation and ray-marching? Are you  sure about it?

[2017-04-23 18:08] mancoast commented on #287
The end user manual is for amateurs to the algorithm, such as myself. I feel that this enables me to explain it in a manner that can be understood by a broader audience of scientists, engineers, and hobbyists.  Realistically, we will benefit from a zero asumption approach that is precise and brief.  I need support to fully follow through on the manual improvements, which is why these questions and

[2017-04-23 18:15] buddhi1980 commented on #287
I will try to answer all your questions. Don't hesitate to ask.

[2017-04-23 18:23] mancoast commented on #287
Thanks! I think the basic starting point is a ray of light.
Everyone can envision the light through sky on a cloudy day.
Another interesting example is the Ray of light we can see when we dive under water on a sunny day.
From there we will explore.

[2017-04-23 18:45] buddhi1980 commented on #287
You have be careful which this kind of analogies, because in ray-marching programs, the light particles are going from eye to object, and from object to the light source.

[2017-04-24 01:05] mclarekin commented on #287
It is confusing and I am still learning.

I don't think the term  ray tracing should be used anywhere.

This is how I think it works:

The formula creates an object.

For each pixel of our chosen resolution,  we create a vector from the
camera with a direction based on the geometry of the  Field Of View.

We use ray marching along these vectors, as a fast way to find a close
approximation of the

[2017-04-24 05:21] mclarekin commented on #287
This is my current understanding of the process.  I ignore complex numbers
( I think that section needs some fixing/clarification, TODO later):

Our 3D world begins as an infinite 3D grid of parallel positive and
negative integer points centered at the origin (0, 0, 0) in the complex
plane C.  An infinite "domain" I think??

I am not sure how the domain is then restricted (closed)  so that we do n

[2017-04-24 15:43] mancoast commented on #287
Thanks for the wealth of info!
I need some time to really think it through and understand.
The goal is to document the learning process.

[2017-04-27 15:31] mancoast commented on #281
https://wiki.qt.io/Qt_5.9_Release
Test 5.9 release May/June 2017

[2017-04-28 12:31] mancoast commented on #255
please support animation rendering and mesh export with opencl.

[2017-04-28 16:45] zebastian opened #289 "add fract file to target on Animation / flight in Render Queue"
see request by paigan on fractalforums: http://www.fractalforums.com/feature-requests/animation-file-save-in-render-queue/msg101347/#new
@buddhi1980 any reason not to add fract file?

[2017-04-29 08:31] zebastian opened #290 "add news file to help menu"
for users upgrading their mandelbulber version it could be helpful to have the news handy.
Maybe put these under:
[Menu] > Help > News
could be a simple popup with a QLabel containing the full NEWS content

[2017-04-29 08:42] buddhi1980 opened #291 "There is huge memory leak when stereoscopic animation is rendered"
- mandelbulber2 => 2.11
- Operating System / Platform => Windows 10 (probably also Linux)
- Compiler => mingw

##### Detailed description

There is huge memory leak when stereoscopic animation is rendered. It could be generated by saving of separate left/right eye images

##### Steps to reproduce

To render stereoscopic animation and save frames in separate left/right images

It has to be fixed be

[2017-04-29 08:44] buddhi1980 commented on #290
Good idea

[2017-04-29 08:45] mclarekin commented on #290
And maybe add release dates next to the version numbers in the news

[2017-04-29 08:57] zebastian commented on #291
Maybe its in files.cpp SaveImage:

you create
cImage *leftImage = new cImage(1, 1, true);
cImage *rightImage = new cImage(1, 1, true);

and probably those are not freed after use?
Can you check, i dont have a linux right now...

[2017-04-29 09:22] zebastian commented on #290
alright, will do...

[2017-04-29 11:25] buddhi1980 commented on #291
Thanks for the tip. I will correct it

[2017-04-29 14:00] buddhi1980 commented on #291
Fixed and checked with valgrind (commit https://github.com/buddhi1980/mandelbulber2/commit/02ace6e89bce32b4abf9b2067688a6deea02b438)

[2017-04-29 14:00] #291 closed

[2017-05-01 06:07] mclarekin opened #292 "Cast a shadow on invisable primitives"
Evaluate implementing option to cast shadow on invisible primitives.

Allowing for alpha channel transparent .png with both fractal and fractal shadow

[2017-05-02 06:59] buddhi1980 opened #293 "Queue crash"
Reported by paigan0 at Fractal Forums

[2017-05-02 16:24] #287 closed

[2017-05-02 16:26] mancoast commented on #283
![image](https://cloud.githubusercontent.com/assets/7040493/25628006/98f09dca-2f32-11e7-8ed4-18b0d7a30653.png)

[2017-05-02 16:28] mancoast commented on #273
Intel FPGA Platform - Altera
PCI-Express required

[2017-05-02 16:28] #273 closed

[2017-05-02 16:28] mancoast commented on #274
Statrix 10

[2017-05-02 16:28] #274 closed

[2017-05-02 17:33] zebastian commented on #293
hmm, its the DisplayCrossHair function on the rendered_image_widget in the queue, which tries to do a params->Get<double>(...) and this params seems to be a null pointer.

I am not sure how to best address this...

[2017-05-02 17:55] buddhi1980 commented on #293
Good catch! I will try to correct it.

[2017-05-02 22:44] acidhunter opened #294 "Build fail on archlinux"
==> Entering fakeroot environment...
==> Starting package()...
cp: cannot stat '/tmp/mandelbulber2-git/src/mandelbulber2/mandelbulber2/qt_data': No such file or directory
==> ERROR: A failure occurred in package().
Aborting...
Removing intermediate container 0b4a2bd1e28c
The command '/bin/sh -c aurget mandelbulber2-git' returned a non-zero code: 2##### System information (version)

- mandelbulber2

[2017-05-02 23:10] acidhunter commented on #294
compiling the 2.11 release works

[2017-05-02 23:50] acidhunter commented on #294
got it, the PKBUILD need a change at line 46

Old:
cp -ra "${srcdir}/${_pkgname}/${_pkgname}/qt_data" "$pkgdir/usr/share/${_pkgname}/qt_data"

has to be changed to:
cp -ra "${srcdir}/${_pkgname}/${_pkgname}/formula" "$pkgdir/usr/share/${_pkgname}/formula"

reported it to the aur maintainer

[2017-05-03 06:33] buddhi1980 commented on #294
Don't use source code from git master repository to release aur packages. This code can have partially implemented features (like file structure transition which is ongoing). Fresh source code from git you can you only for your own development and testing. For package deployment you should use only tagged versions from Releases (https://github.com/buddhi1980/mandelbulber2/releases)

By the way, ca

[2017-05-03 06:58] #293 closed

[2017-05-03 08:40] acidhunter commented on #294
there are seperate aur packages, mandelbulber2 and mandelbulber2-git
the mandelbulber2 PKBUILD builds the tagged release, mandelbulber2-git will build from source

i reported this to the package mantainer, its not a mandelbulber issue

[2017-05-03 11:40] mancoast commented on #285
Please help me generate the artifacts required for engineering whitepaper.  We can then co-author the manual [whitepaper].

[2017-05-03 11:46] mancoast commented on #294
Thanks @acidhunter
Arch is solid OS.

[2017-05-03 11:46] #294 closed

[2017-05-03 11:52] mancoast opened #295 "REWORK: MSVC autonomous build"
completely rework the msbuild solution.

[2017-05-03 11:58] mancoast commented on #280
Lets make these moves ASAP.
Build is sem-broken: now is the time

[2017-05-03 12:07] mancoast commented on #289
Does there exist the possibility to morph between .fract files placed in the Render Queue?

[2017-05-03 16:16] mancoast opened #296 "Support USE_OPENCL pre-processor definitions for *optional* build"
Need to compile with OpenCL.

Also, Need to compile without OpenCL.

[2017-05-03 18:14] buddhi1980 commented on #296
it's already implemented. To compile the program with OpenCl code, you need to use qmake with following option:

```qmake mandelbulber.pro "CONFIG+=opencl"```

I'm not sure if your question is about using qmake or implementation of it in msvc

[2017-05-03 20:08] mancoast commented on #296
No question, just stating some basic requirements. I noticed you were already doing these pre-processor definitions, so it's now documented in the project/milestone.

[2017-05-04 15:48] buddhi1980 commented on #280
Works very well. I have no issues to use new structure in Eclipse. What you think to add two more files: mandelbulber-opencl.pro and debug-opencl.pro?

[2017-05-04 16:01] buddhi1980 commented on #280
I have removed Debug and Release folders and added mandelbulber-opencl.pro and debug-opencl.pro in qmake directory.
Now we need to upgrade all scrips and tools

[2017-05-04 19:45] zebastian commented on #280
@buddhi1980 thanks, good idea.
Just refactored the other scripts, should be proper now.

[2017-05-05 11:04] mancoast commented on #295
resolved

[2017-05-05 11:04] #295 closed

[2017-05-05 20:21] buddhi1980 opened #298 "AppVeyor is too slow"
There are too many jobs defined in AppVeyor, which causes very long delay of tests.
I would keep only first 4 jobs (Release)

[2017-05-05 21:04] mancoast commented on #298
I will take a look at disabling some of the builds.
We use appveyor for k1om,; the (3) k1om builds usually take ~3hrs.
Also, we use appveyor for CPP Core Guidelines Analysis; the (3) Analysis builds take ~3hrs.

We have a very advanced, autonomous system in operation.

Why do you want to remove these features?

[2017-05-05 21:07] #296 closed

[2017-05-05 21:27] buddhi1980 commented on #298
Because AppVeyor has 1 day backlog all the time. It doesn't help us to see potential problems, when we have about 10 commits per day.
Another issue is configuration of email notifications. I cannot find way to get notification only when status is changes (from build OK to failing or opposite).
When information is not up-to-date and like a spam you just start to not read these emails.

[2017-05-05 21:36] buddhi1980 commented on #298
CPP Core Guidelines Analysis we can keep for only one architecture (x64). Should be enough.

[2017-05-06 16:18] #256 closed

[2017-05-07 05:25] mclarekin opened #299 "Custom header in Objects/Description"
Evaluate adding option to have custom header description in settings files

/# Mandelbulber settings file
/# version 2.11
/**# by mclarekin { insert code for automatic date and time on saving)**
/# only modified parameters
[main_parameters]

[2017-05-07 05:28] mclarekin commented on #299
maybe install in Description or in Program Preferences

[2017-05-07 07:27] mclarekin opened #300 "Color Palette enhancements"
There is a lot of "nice to have" enhancements to evaluate

1) Saturation to work on current palette.
2a) Option of  Exponential controls on palette. I can do this by playing with the color calc, but I would prefer it to be visualized on the color palette.  Some fractals seem to need  more control.
2b 2c etc are more complicated.

[2017-05-07 12:29] #213 closed

[2017-05-07 12:32] zebastian commented on #255
animation rendering will use opencl out of the box, as soon at is implemented for the still frames.
mesh export will need extra work, this will come later...

[2017-05-08 15:40] mancoast commented on #298
Sounds good, we can proceed with 1 build for k1om, and 1 build for CPP Core Guidelines Analysis.
This should dramatically reduce the build backlog for days with many commits to the git repo.

[2017-05-08 15:52] mancoast opened #301 "opencl tab in program settings"
- enable
- precision: [double / single]
- mode: [full / fast / ...]
- devices [all or multiselect of detected devices]

[2017-05-08 15:52] mancoast opened #302 "Integrate fractalCl.h in opencl code"
(cleanup needs to be done in autogenerator in populateOpenCL.php)

[2017-05-08 15:54] mancoast opened #303 "Cross-compile OpenCL"
LINUX ==> WINDOWS

[2017-05-08 15:54] mancoast opened #304 "Vectorization: SIMD Processing Within a Work-group"
https://software.intel.com/en-us/node/540511

REF:
https://software.intel.com/en-us/intel-opencl

[2017-05-08 15:54] ghost opened #305 "vTune profile tool on openCL to identify hotspots"
https://software.intel.com/en-us/articles/opencl-design-and-programming-guide-for-the-intel-xeon-phi-coprocessor

[2017-05-08 16:04] mancoast commented on #255
Mesh export == $$$ for connecting our fractal community to the solid modeling communities.
We could generate awesome content for unreal4 engine!

[2017-05-08 16:12] mancoast opened #306 "UPDATE required libraries in README/BUILD docs"
Add documentation forall

[2017-05-09 07:48] mclarekin opened #307 "Statistics in-chart text"
Left justify the in-chart text
![stat](https://cloud.githubusercontent.com/assets/12769564/25840525/3ffca8ee-34f0-11e7-866b-8ff07762abc1.png)

[2017-05-09 07:49] mclarekin commented on #307
or maybe centering the next would be better

[2017-05-10 12:24] mancoast commented on #255
Solid strategy for the GPU support.  This will elevate the system to the next level of modernization with support for current and future hardware.

[2017-05-11 16:29] mancoast opened #308 "Cross-compile Travis"
Please implement the cross-build in travis CI.

[2017-05-11 17:14] buddhi1980 commented on #308
It would take too long to compile. Travis will need to compile qt libraries and all another libraries like gsl, png, vorbis, libsnd.... On my fast PC it takes about haf hour.

[2017-05-12 11:35] mancoast commented on #308
Does there exist precompiled solutions for the libraries on which we depend?
Ideally we move all compilation operations to the cloud for further automation and integration.

[2017-05-12 18:24] buddhi1980 commented on #308
Unfortunately there is no official mingw64 build for Qt libraries. This is the biggest part of compilation.

[2017-05-14 19:44] mancoast opened #309 "OPENCL: Support multi-GPU systems"
I wish to render using my Intel CPU (opencl enabled) and (2) geforce 760 that are not configured in SLI.
Please enable support for complete usage of all available opencl devices from a single mandelbulber instance.

[2017-05-16 20:12] zebastian opened #310 "rewrite Iteration functions with z and w to z4d"
All 4d formulas should use consistently z4D var, instead of z and w

[2017-05-17 12:06] mancoast commented on #310
Does the usage of z4D from z and w affect the final rendered imagery?

[2017-05-17 15:00] buddhi1980 commented on #310
What we can try is to have the same interface for all fractal formulas (3D and 4D and all another specific types). We can put all variables like 'i' or 'c' to sExtendedAux. Then will be easier to simplify iteration loop in CPU and GPU code. Maybe will be possible to use function pointers.
I need to check how will work 3D formulas with 4D variables.

[2017-05-17 15:07] mancoast commented on #310
The standardization is an improvement to the code quality and readability.  I am all for the change, however will this affect the final render or will this rework adjust how the identical data is oriented?

[2017-05-17 15:18] zebastian commented on #310
These changes may not affect the final render and the render time, its only readability.
The compiler should take it from there, but we need to test this in the wild (especially if we put 3d values in 4d containers)

[2017-05-17 15:28] buddhi1980 commented on #310
I have just did quick test with Mandelulb and Mandelbox formulas. Everything works very well. 4D computation doesn't slow down rendering. I will do conversion of all formulas.

[2017-05-17 15:51] buddhi1980 commented on #310
It will take several hours, because many changes has to be done manually (inside the formula code), but it is worth it.

[2017-05-17 16:04] buddhi1980 commented on #310
@zebastian , can you stop changing fractal_cormulas.cpp for several hours? I will have troubles to merge changes. I will let you know when I finish.

[2017-05-17 16:05] zebastian commented on #310
OK, i wait for the changes.
Let me know, if you need any help

[2017-05-17 18:38] buddhi1980 commented on #310
1000 lines changes. 1st phase done. Now all formulas are calculated using 4D algebra.
Now my brain is already :fire:, so if you have any changes to commit, you can do this now.
I will continue tomorrow (but first I will let you know). Or if you want, you can standardize interfaces of formula functions. But you have to be careful with 'c' and 'aux.c' because one is passed by value and second by ref

[2017-05-18 15:39] mancoast commented on #306
https://github.com/buddhi1980/mandelbulber2/commit/166b2fb9d9eed2083fface24fa72775a28677c5f

readme refs QT5, LZO, and GSL.
We require these 3 external packages for minimal build.

[2017-05-18 15:39] #306 closed

[2017-05-18 15:40] mancoast commented on #308
Thanks for the info.
Let's table this issue for later.
I will close for now, and investigate when time permits.

[2017-05-18 15:40] #308 closed

[2017-05-18 17:06] buddhi1980 commented on #310
All changes done. Now all formulas use 4D algebra and functions have the same parameter set. @zebastian, now you can continue your work

[2017-05-18 17:15] buddhi1980 commented on #310
Now would be interesting to add function pointers to fractal formulas into sFractalDescription (fractal_list.cpp) and call functions by function pointer without switch() statement. What you think?

[2017-05-18 17:19] buddhi1980 commented on #310
The pointer could be defined as 	```void (*fractalFormulaFcn)(CVector4 &, const sFractal *, sExtendedAux &);```

[2017-05-18 17:40] buddhi1980 commented on #310
I will do it. First basic test work. It will reduce 800 lines of code!

[2017-05-18 19:41] buddhi1980 commented on #310
Done. Now there is 700 lines of code less. I think it's good starting point to implement hybrid loop in OpenCl kernel. Now should be much easier.

[2017-05-18 19:43] mancoast commented on #310
nicely implementation! these function pointers aid F(x) to marching cubes/

[2017-05-19 12:19] mclarekin commented on #310
I completed the updating of 3D parameters that are added to a vec4. As it
is not an inline function.

With the 3D parameters (scale/ & constantMuliplier), that are multiplied by
a vec4,  there is already an inline function, so I am wondering if they
should remain as vec3 in fractal.h & cpp?
At present only some of these have been updated

On Fri, May 19, 2017 at 7:43 AM, mancoast <notifications@gi

[2017-05-19 16:11] mancoast commented on #310
Please elaborate on file/line# of concern.

[2017-05-20 00:47] mclarekin commented on #310
fractal.cpp 371

new code format           transformCommon.constantMultiplierB111 =
CVector4(container->Get<CVector3>("transf_constant_multiplierB_111"), 1.0);

old code format    transformCommon.constantMultiplierC111 =
container->Get<CVector3>("transf_constant_multiplierC_111");

a) I was wondering if updating these parameters into a CVector4 container
is necessary as we have :

algebra.hpp 384

[2017-05-20 15:25] mancoast opened #311 "opencl build for appveyor"
We need to test opencl compilation via continuous integration.
I will get the system functional for windows builds.

[2017-05-20 17:29] mancoast commented on #298
builds disabled
https://github.com/buddhi1980/mandelbulber2

[2017-05-20 17:29] #298 closed

[2017-05-20 17:30] mancoast commented on #298
https://github.com/buddhi1980/mandelbulber2/commit/ed6b2523ee0b0fcaceab9c7fb9b3c0d77ae3627c

[2017-05-20 20:17] mancoast commented on #215
https://github.com/buddhi1980/mandelbulber2/commit/3b29add031f3f8149f0754ec1a272557117290f4

[2017-05-20 20:17] #215 closed

[2017-05-20 21:05] mancoast commented on #311
https://github.com/buddhi1980/mandelbulber2/commit/1b2205a7d449c966357f69e30e5def9f0c7aaf13

[2017-05-20 21:05] #311 closed

[2017-05-21 02:31] mancoast commented on #281
We need to test a rollback to 5.7 with a new release of bulbqt.
We update bulbqt with a roll back-forth to next version usage of qt5.7.
Given incompletion, we compile the LTS qt5.9rc:
https://blog.qt.io/blog/2017/05/11/introducing-long-term-support-qt-5-9/

[2017-05-21 02:41] mancoast opened #312 "Generate Side by Side report foreach example file render with opencl on/off"
It is critical to properly test and document our implentation style.

[2017-05-21 02:44] mancoast commented on #312
please help me complete this requirement: https://github.com/buddhi1980/mandelbulber2/issues/285

I will test the system and generate the reports.

[2017-05-21 03:00] mancoast commented on #278
The ability to randomize that enables everyone to instantly create.

[2017-05-21 03:06] ghost opened #313 "add opencl fps indicator"
support for gamepad and opencl is promising

[2017-05-23 22:58] mancoast opened #314 "Implement Mandelbulb API"
This critical index bridges mandelbulber from mandelbulb to Mandelbrot.
We need to enable other software to generate 3D Mandelbrot systems.
Please consider a strong and well tested [minimal] programmer's index for this system's interoperation.
API object requires standard settings file as string.
API object returns image data as libpng object.

[2017-05-23 23:06] mancoast commented on #314
Also include interface to https://github.com/buddhi1980/mandelbulber2/issues/278 Randomize that updates both settings file [string object] and image data [libpng object]

[2017-05-24 01:21] mancoast commented on #281
https://github.com/buddhi1980/mandelbulber2/commit/4787945482e6ad0d3f788002a4f9103e4ce0f85b

[2017-05-24 01:21] #281 closed

[2017-05-24 15:40] zebastian opened #315 "broken GeneralizedFoldBoxIteration"
in non-opencl the formula produces empty space
in opencl code this formula crashes (probably related)

@buddhi1980 this was already happening before my latest commit, probably introduced with the unifications for z4d, can you take a look?

[2017-05-24 15:46] buddhi1980 commented on #315
I'm going to look what is wrong

[2017-05-24 16:11] buddhi1980 commented on #315
Fixed. There was used ```aux.i``` instead of ```i```
OpenCl version of GenFoldBox now also works.

[2017-05-24 16:26] zebastian commented on #315
thanks!

[2017-05-24 16:27] #315 closed

[2017-05-24 16:45] mancoast opened #316 "Windows OpenCL Non-functional"
Greetings,

I am still seeing a blank render forall variations of input.
Changes to the opencl library nuget may be required.

Thanks,
coast

[2017-05-24 17:18] buddhi1980 commented on #316
Without this change in cl_platform.h it cannot work. MSVC compiler is DIFFERENT
Here is interesting discussion about this problem: https://social.msdn.microsoft.com/Forums/vstudio/en-US/8fac034b-6ba4-478d-9130-8f6a56de368f/why-does-msvc-inhibit-the-use-of-aligned-types-as-function-parameters?forum=vclanguage

[2017-05-24 21:32] mancoast commented on #316
OK, We will proceed with modified headers for Intel OpenCL SDK 2016.3.
The files from the opencl-nug are pulled from Intel OpenCL SDK.
I will open a support issue with Intel to get the vanilla OpenCL SDK 2017 functional for our use case.
Thanks!

[2017-05-24 21:51] mancoast commented on #316
windows opencl build confirmed functional
https://github.com/buddhi1980/mandelbulber2/commit/1fad449f3eec0290ed5e683d39a7c56ee499e3f4

[2017-05-25 11:19] mancoast commented on #316
Now we see compilation issues with 32bit opencl build.
https://ci.appveyor.com/project/buddhi1980/mandelbulber2/build/1.0.1.0.0.7.586-master/job/ewr3q8p1ujvyodeq
[code]

[2017-05-25 11:29] mancoast opened #317 "Record Flight Path requires OpenCL Support"
In the future state, the "Record Flight Path" experiences massive acceleration from OpenCL.
In the current state, the "Record Flight Path" function only renders (1) frame then stops.

[2017-05-25 14:32] buddhi1980 commented on #316
Forget about win32 builds. Win32 is legacy architecture, which we can abandon.

[2017-05-25 15:45] mancoast commented on #316
I agree, your analysis.
Future state will omit opencl features *only* for windows 32bit.
Future state will support opencl features for Windows 64bit.

[2017-05-25 15:51] mancoast opened #318 "Configure/Release UWP Build for Appveyor"
With the introduction of OpenCL, we stack our Game-pad functions.
This enables an engine to explore completely custom, mathematically generated environments in real time.
We need to publish the system to the Windows App Store.

https://docs.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide

[2017-05-25 15:56] mancoast commented on #318
This directly feature enables release to Microsoft Xbox Console Community.

[2017-05-25 19:29] mancoast commented on #316
https://github.com/buddhi1980/mandelbulber2/commit/5839d6a6b36e43fd065d7b597fbe32152c7716c7

[2017-05-25 19:29] #316 closed

[2017-05-25 20:09] mancoast opened #319 "CL_DEVICE_TYPE_ACCELERATOR"
Please enable support for accelerator devices: **CL_DEVICE_TYPE_ACCELERATOR**

![screenshot from 2017-05-25 16-06-44](https://cloud.githubusercontent.com/assets/7040493/26468445/755175f8-4164-11e7-9c33-ebc51fcde1a2.png)
https://www.khronos.org/registry/OpenCL/sdk/1.0/docs/man/xhtml/clGetDeviceIDs.html
CL_DEVICE_TYPE_CPU	An OpenCL device that is the host processor. The host processor runs the OpenC

[2017-05-25 20:11] mancoast commented on #319
I have initialized support, but still does not operate:
https://github.com/buddhi1980/mandelbulber2/commit/584ff957a01d9221306e7fe4a4d52740adf5a91b

I have validated opencl drivers and opencl sdk via successfully operation of other applications.
The same hardware system produces the output shown above.
Please enable support for all opencl hardware.

[2017-05-25 20:49] mancoast commented on #319
https://github.com/mancoast/mandelbulber2/commit/be218eeaacc540fdf6b5b53b2b96dd96f941e2b4
Opencl build time [s] 77.7322 seems very long, but the system functions using all hybrid resources:
VERIFY&&VALIDATES: https://github.com/buddhi1980/mandelbulber2/issues/309

[code]

[2017-05-25 20:50] #319 closed

[2017-05-25 20:55] mancoast commented on #317
@zebastian @buddhi1980 Does there exist the possibility to compile the kernel **once** per flight?
To record a flight path we lower the resolution and maximize fps.

[2017-05-25 22:18] mancoast commented on #309
https://software.intel.com/sites/landingpage/opencl/optimization-guide/Using_Multiple_OpenCL_Devices.htm

shared_context = clCreateContextFromType(prop, CL_DEVICE_TYPE_ALL, …);
Shared context does not imply any “shared queue”.
create a separate queue per device

[2017-05-26 04:35] buddhi1980 commented on #317
Will be possible.  Now opencl rendering is implemented only for main rendering. Animation will be implemented soon.

[2017-05-26 14:18] mancoast commented on #309
@buddhi1980 Please support multiple opencl devices, we need multiple queues.

There is a design architecture choice here:

1.) devices represent independent streams of computation: no shared data.
ex. each opencl device renders a different frame.

2.) devices represent dependent streams: shared data.
ex. use every opencl device for (1) frame with unlimited resolution.

Thanks,
coast

[2017-05-26 14:25] mancoast commented on #317
Is it possible to distribute (1) frame foreach OpenCL device to increase fps regarding multi-GPU support:?
Is it more efficient to use shared data across the different OpenCL devices?

What is easiest to implement and maintain?

https://github.com/buddhi1980/mandelbulber2/issues/309

[2017-05-26 14:29] mancoast commented on #280
We ready to close this one?

[2017-05-27 07:17] buddhi1980 commented on #309
Second option is a good option because it will work for still images and animations.
@mancoast , you are only one of us who has hardware capable to test multi-GPU systems. Would be good if you will try to implement it. I will assist you and help as much as I can.
Unfortunately without hardware I was not able to write code for it. Making code without ability to test it is hery hard.

[2017-05-27 11:25] zebastian commented on #302
this has been done

[2017-05-27 11:25] #302 closed

[2017-05-27 11:30] zebastian commented on #314
In a way this is already present in a scriptable manner with the CLI.

IMHO: the more deeper step to let mandelbulber be run as library requires completely separating the mandelbulber "core" code from the ui and exposing a stable class API to the outside world to incorporate the lib on other software, like zlib for example.
But this will be so much work to do that i dont expect it to happen anytim

[2017-05-27 12:08] zebastian commented on #280
Yes, done for th time being. If we decide to move mandelbulber2/qt to mandelbulber2/ui we can open a new issue

[2017-05-27 12:08] #280 closed

[2017-05-27 12:17] zebastian commented on #290
all done

[2017-05-27 12:17] #290 closed

[2017-05-27 13:31] buddhi1980 commented on #317
done in commit https://github.com/buddhi1980/mandelbulber2/commit/a69b60301d0b5e6278fb792e04753b5fd6b24f57

[2017-05-27 15:22] mancoast commented on #314
I agree with your input. Much of the refactoring process can be automated using productivity tools such as Resharper. The API requires massive effort that will take time. I need help specifically defining the API in the end user manual. After we have determined where the goalpost exists, then we try reduce the API functions to maximize stability.

[2017-05-27 15:24] mancoast commented on #309
I will make it happen. Yesterday I was able to render a 20k 3gb Mandelbulb png in 400 seconds with OpenCL.

[2017-05-29 01:28] mancoast commented on #317
Please enable (1) kernel compilation for the entire flight.
The kernel compilation between each frame is disruptive.

[2017-05-29 18:54] mancoast commented on #317
resolved
https://github.com/buddhi1980/mandelbulber2/commit/bec3acbc9d8061623f6c02d0e0dbde7b34f2efeb

[2017-05-30 04:24] buddhi1980 commented on #317
Today evening I'm going to fix recompilation problem. It  will build kernel code only when souce  code is changed.

[2017-05-30 11:36] mancoast opened #320 "Include MSVC redist in Appveyor Build Package"
Required when visual studio is not installed.

[2017-05-30 11:45] mancoast commented on #317
Sounds like a plan, thanks!

[2017-05-30 15:59] mancoast opened #321 "Execute CLANG Memory Sanitizer"
When saving very large images, there exists a memory leak.

[2017-05-30 16:09] mancoast commented on #321
End Users observe a large waiting period to save the image.
When we enter the realm of giga-pixels, I observe more time saving than rendering!

[2017-05-30 16:15] mancoast commented on #321
REF: http://gigapan.com/gigapans/199297
This 16k image took ~300seconds to render, but over 10 minutes to save?

[2017-05-30 16:46] buddhi1980 commented on #317
Problem with re-compilation solved in commit https://github.com/buddhi1980/mandelbulber2/commit/8dd34fd5a2e3b3f0d943424751a44578aac7e7e7

[2017-05-30 18:25] buddhi1980 commented on #321
Save in TIFF or JPG - will be faster. PNG compression is quite slow and single threaded.

[2017-05-30 18:44] buddhi1980 commented on #321
About memory leak, can you point where it is? In which format? Which image settings? I cannot observe any memory leaks.

About image saving times (just tested):
16000x16000 image:
JPG - 3s
PNG - 40s
PNG16 - 67s
TIFF - 25s
TIFF16 - 44s

[2017-05-30 21:19] mancoast commented on #321
REF: http://www.gigapan.com/gigapans/199307
I pasted some more info below.
What I have noticed:
A1.  PID: 13496, time: 3912.223, Debug: OpenCl Rendering time [s] 2724.35
B2.  PID: 13496, time: 6430.333, Debug: Rendering time [s] 5242.87

I was saving the image after A1, but before B2.
Essentially, its possible to initiate the save after "Debug: OpenCl Rendering" but before the "Debug: Rendering ti

[2017-05-31 11:45] mancoast opened #322 "opencl: Stop button does not operate"
Please enable render cancel with opencl enabled.

[2017-05-31 11:47] mancoast opened #323 "Persistent Platform selection"
Platform select needs to persist until a different platform is selected.

[2017-05-31 11:50] mancoast opened #324 "repair windows 32 build without opencl"
https://ci.appveyor.com/project/buddhi1980/mandelbulber2/build/1.0.1.0.0.7.652-master/job/0j5wkrrai8widybe

[code]

[2017-05-31 11:51] mancoast opened #325 "opencl: enable equirectangular"
These equirectangular frames work well will giga-pixels.
Please enable equirectangular for opencl.

[2017-05-31 11:54] mancoast commented on #317
works well, thanks!

[2017-05-31 11:54] #317 closed

[2017-05-31 11:58] mancoast opened #326 "increase max value for GUI sliders for image resolution"
The current limit of ~65k is too low.
Please enable ~200k per slider.

[2017-05-31 12:14] mancoast commented on #277
Remove the overload!
There exist far too many controls in the main window.
To simplify, convert the 'docks' to 'windows'.
This enables use of 'task manager' to toggle windows, etc..

[2017-05-31 15:24] buddhi1980 commented on #325
There is still 90% missing features. So it doesn't make sense to create issues like this one.

[2017-05-31 15:27] buddhi1980 commented on #326
It has to be increased carefully. JPEG supports a maximum image size of 65,535×65,535 pixels!
Better would be to implement rendering of images in tiles.

[2017-05-31 15:35] buddhi1980 commented on #277
Most of modern applications are single window (MS Word, Blender, Qt Creator, Chrome, Eclipse, Visual Studio, AudoCAD...). We can consider making docks convertable to windows like main image widget.

[2017-05-31 15:48] mancoast commented on #325
Low hanging fruit with high value.

[2017-05-31 15:55] mancoast commented on #326
If PNG doesn't save well, and JPG has hard coded limits, Does there exist the possibility for 200k TIFF?

[2017-05-31 15:57] mancoast commented on #277
Agreed, I would much prefer the ribbon.  Let us consider The dock --> window conversion as our baseline alternative. Given time we will converge on a better alternative. Can QT support a ribbon?

[2017-05-31 16:35] buddhi1980 commented on #277
Qt doesn't support it. Ribbon is not a cross-platform thing and even on Windows is very difficult to code.

[2017-06-03 05:35] buddhi1980 commented on #304
Vectorization is done by OpenCL compiler. We don't need to write explicit vector code. If there is used proper data alignement, the code will be vectored. In mentioned document there is written:

[2017-06-04 13:08] mancoast commented on #324
For Visual Studio Build with MSVC,  The MOC [meta object compiler] flags are generating OpenCL enabled code.  This applies to Windows 64 bit, however this breaks windows 32 bit without opencl.

The solution is to have different sets of MOC flags for 32bit and 64bit within mandelbulber2_autogen.vcxproj

[2017-06-04 13:37] #324 closed

[2017-06-17 07:06] zebastian opened #327 "integrate deploy/AddingNewFormulas.odt in new section 'developers' in handbook"

[2017-06-17 21:50] zebastian commented on #322
now it does

[2017-06-17 21:50] #322 closed

[2017-06-17 21:51] zebastian commented on #327
is now integrated but still needs some changes
deploy/AddingNewFormulas.odt should be deleted afterwards...

[2017-06-18 00:09] mancoast commented on #322
Solid, animation by sound engine operates with OpenCL.  We need to get benchmark to OpenCL op.

[2017-06-19 01:52] Starmute opened #328 "Rework Client-Server functionality for render farms; Enhance Failure Recovery"
Hello,

From my experience of using netrender it would seem advisable to add ways to kick clients out (i.e. if the computer is malfunctioning, or an undesired user connects):

(a) soft kick, just disconnects the client,
and (b) hard kick to disconnect and shut down the client's copy of Mandelbulber. Might be useful if you are temporarily using someone else's computer to render and do not want to i

[2017-06-20 21:18] ghost opened #329 "Analyze failure modes of invalid input"
Required for https://github.com/buddhi1980/mandelbulber2/issues/278

[2017-06-20 21:19] mancoast opened #330 "Operational OpenCL Benchmark"
critical for next alpha/beta release.
we require stats

[2017-06-21 04:32] buddhi1980 commented on #330
First it has to work in CLI mode. Step by step...

[2017-06-23 12:48] mancoast commented on #330
Day by day,The openCL features grow more complete.

[2017-07-07 05:29] mclarekin opened #331 "request - User defined image size preset"
from Kyzai at FF
http://www.fractalforums.com/feature-requests/user-editable-image-size-presets/msg102533/#new

would it be possible to make the image size presets user editable in some way.

I have a 4k monitor, for which I like rendering desktop backgrounds, so just adding 3840 x 2160 as an option would be perfectly good too.

[2017-07-07 05:31] mclarekin opened #332 "request - calc midpoint between two points"
from Kyzia at FF
http://www.fractalforums.com/feature-requests/measurement-request/msg102532/#new

In the Measurement Tab, I'd like the ability to select two points.  Once selected, in addition to giving their coordinates, the coordinates of the mid-point between the two would be shown.
Also possibly the mid-point between each and the camera, if that wouldn't be overloading it.

The reason for req

[2017-07-10 05:22] mclarekin opened #333 "request - option to align plane or water to camera view"
from Kyzia at FF
http://www.fractalforums.com/feature-requests/primitives-align-plane-water-to-view/msg102578/#new
Enable the ability to align the orientation of the plane or water primitives to the current camera view.  So, whatever the camera view is, the plane or water would appear horizontal.  When enabled, there would be a 'pitch' slider allowing to set the 'slope' of the plane towards or awa

[2017-07-10 11:38] lxegs opened #334 "Nvidia Quadro K600 not available for OpenCL"
OS : W10 x64 (v 1511)
mandelbulber version 2.12 alpha4

I have tried to enable OpenCL with my Quadro K600 but i have an error saying "there are no valid opencl plateforms in this system"

nvidia drivers are up to date

If i can help to debug something, i'm OK

thx

clement

[2017-07-10 14:58] buddhi1980 commented on #334
I wrote that you have recent video driver. But I want to confirm this. Please tell me which driver version do you have?
W10 x64 (v 1511) is not recent that's why I'm asking. Actual Windows version is 1703.

By the way, have you ever tried any other application which use OpenCL? I would like to identify if it's software, driver or hardware related problem.

[2017-07-10 15:50] buddhi1980 commented on #334
Try to run http://www.geeks3d.com/20170327/gpu-caps-viewer-1-34-0-released/
to check if OpenCL works in your system.
On OpenCL tab you should see number of OpenCL platforms and all detailed information.

[2017-07-11 10:10] lxegs commented on #334
my fault !

drivers were not @ latest version --> i have updated them and now all is OK

version drivers is 377.48 (previous was 376.16)

thx

[2017-07-11 10:10] #334 closed

[2017-07-12 17:25] buddhi1980 opened #335 "add cl_int formula to sFractalCl"
@zebastian, there is needed to add in fractal_cl.h folowing lines:

typedef struct
{
	**cl_int formula;**
...
} sFractalCl;

and

inline sFractalCl clCopySFractalCl(sFractal &source)
{
	sFractalCl target;
	**target.formula = cl_int(source.formula);**
...
}

It has to be added to php script

[2017-07-17 06:52] lachs0r opened #336 "Linux package repositories"
Just wanted to let you know that I’m maintaining packages for Debian 9.0 (Stretch), Fedora 26 and Rawhide, openSUSE Leap 42.1/42.2/42.3 and Tumbleweed (including ARM/PPC), as well as Ubuntu 17.04 and AppImages for all the other distros at openSUSE’s Open Build Service:

https://software.opensuse.org//download.html?project=home%3Alachs0r%3Amandelbulber2&package=mandelbulber2

AppImages are here (in

[2017-07-18 22:50] mancoast commented on #336
muchos gracias!

[2017-07-18 22:51] mancoast commented on #330
hint plz

[2017-07-18 22:53] mancoast commented on #325
bump

[2017-07-18 22:54] mancoast commented on #321
lets table this for later, more important things to discuss.
I will open a new issue with simpler explanation.

[2017-07-18 22:54] #321 closed

[2017-07-18 22:56] mancoast commented on #326
@buddhi1980 @zebastian @mclarekin
do we want to pursue this issue, or close.
There exists other tasks with higher value.
I vote we close and open new issue if recurs.
any thoughts?

[2017-07-18 22:57] #326 closed

[2017-07-18 22:59] mancoast commented on #336
Please provide additional engineering documentation for review.
Do you have any scripts or files worth adding to repo for these build configs?
Please explain like I am 5 years old, the opensuse build architecture, I am unfamiliar and request full reasoning.

[2017-07-18 23:01] mancoast commented on #335
this is over my head bc of php noobiness.
@zebastian what are your thoughts?

[2017-07-18 23:07] mancoast commented on #332
This request serves additional statistics and mathematics.
I vote to implement due to increased precision.
The animation engine benefits from increased precision.

[2017-07-18 23:08] mancoast commented on #331
Consider addition of two or three X,Y settings stored locally to easily implement this feature.
I agree with the added value.  It is easy to implement, and saves time for end user.

[2017-07-18 23:15] mancoast commented on #328
this is far beyond my understanding, i only trust @buddhi1980 to correctly implement.
I agree with the added value of dynamic render farm.

[2017-07-18 23:33] lachs0r commented on #336
Not sure what to explain.

Build ingredients are here:
https://build.opensuse.org/package/show/home:lachs0r:mandelbulber2/mandelbulber2

Debian/Ubuntu: debian.tar.gz and mandelbulber2.dsc
Fedora/openSUSE: mandelbulber2.spec
AppImage: appimage.yml, mandelbulber2.obsinfo

Common: mandelbulber2.changes

There’s not much magic involved. The build instructions are almost the same for all distros, but s

[2017-07-18 23:46] mancoast commented on #336
Great insight, the snapshot CI sounds useful. Would you like to modify the cmake file and become a contributor?

[2017-07-18 23:52] lachs0r commented on #336
Yeah, I’ll look into it. Shouldn’t be too hard to fix.

[2017-07-19 00:30] mancoast commented on #336
Looking forward to your pull request. Thanks!

[2017-07-19 04:24] mclarekin commented on #327
This chapter needs a lot  more work, but not a priority at the moment.

[2017-07-19 04:26] buddhi1980 commented on #325
Done

[2017-07-19 04:26] #325 closed

[2017-07-19 05:09] mclarekin commented on #333
It is about the difficulty in aligning the primitive with the camera
horizontal axis.

example. Note this can be done by matching  primitives x and y rotation
with camera pitch and roll, with reversed pos neg.

then if the camera has a yaw value it becomes more difficult.

The scenario is when  you zoom into a location with the camera rotated,
and  decide to add water, it is complicated to get the

[2017-07-19 07:36] zebastian commented on #335
No Problem, i will do this tomorrow evening

[2017-07-20 16:42] buddhi1980 commented on #335
Fixed in commit https://github.com/buddhi1980/mandelbulber2/commit/d7e99c1dee21b845cbc3f577a80143d260b45929

[2017-07-20 16:42] #335 closed

[2017-07-20 17:02] zebastian commented on #301
This ticket is done, when changes are required we should open a new ticket...

[2017-07-20 17:02] #301 closed

[2017-07-20 17:02] #303 closed

[2017-07-20 19:06] zebastian opened #337 "recheck all example files"
Since a couple of formulas have changed since the examples were introduced now a couple of them are broken.

We need to recheck all example settings and fix broken...

[2017-07-22 11:17] mclarekin commented on #337
yep, it needs to be done, but maybe wait until all formulas are working in
openCL, then it would be a quicker exercise. ???

The aux->actualScale   seems to be now working correctly in openCL, but
there are other formula problems that need to be fixed in openCL

On Fri, Jul 21, 2017 at 7:06 AM, Sebastian Jennen <notifications@github.com>
wrote:

[2017-07-22 12:03] zebastian commented on #337
@mclarekin OK we can wait till formulas are fixed.
Can you tell me, which make problems? I can look into this...

[2017-07-22 12:58] mancoast commented on #337
If we update benchmark to save images we can automate this and generate good benchmark data. Thoughts?

[2017-07-22 13:10] mclarekin commented on #337
maybe they are all fixed,!!!  I cannot find any now.

On Sun, Jul 23, 2017 at 12:03 AM, Sebastian Jennen <notifications@github.com

[2017-07-22 13:19] mclarekin commented on #337
from all my broken settings files that i have tested so far, this is the
only one that still produces a different image in openCL . There may be a
problem with the transform??.

# Mandelbulber settings file
# version 2.11
# only modified parameters
[main_parameters]
ambient_occlusion_enabled true;
aux_light_intensity_1 0.251189;
aux_light_position_1 0.7235588625406182 0.3540244095376709
0.22524835

[2017-07-22 13:27] mclarekin commented on #337
i have investigated this before but I have forgotten,   i think  exp2   to
native_exp2 was not the problem, it may be a copysign versus sign thing.
Somewhere I committed a fix for this, before i learnt about the php script
overwriting thing.

On Sun, Jul 23, 2017 at 1:19 AM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-07-22 17:51] zebastian opened #338 "enable netrender for opencl"

[2017-07-22 17:51] zebastian opened #339 "Enable CLI features for headless opencl"

[2017-07-22 17:53] zebastian commented on #338
@buddhi1980 I am not sure where to put what to make this happen.
Is this a lot to do?

[2017-07-22 18:01] buddhi1980 commented on #338
NetRender for OpenCL is a very big topic. Actually out of scope.

[2017-07-22 18:15] zebastian commented on #338
OK, thats what i thought.

[2017-07-23 00:45] mclarekin commented on #337
thanks Sebastian, i think all the php problems, that we have discovered,
are now fixed.

On Sun, Jul 23, 2017 at 1:27 AM, carbuncle grim <mclarekin@gmail.com> wrote:

[2017-07-24 00:08] probonopd commented on #336
Great job on building AppImages on OBS! 👍

Minor issue, I am getting

Fractal ui file can't be loaded

`/usr` is not where things are in an AppImage. Hence the application should, rather than trying to load things from `/usr`, try to load things from "relative to itself". Let me know if you need help on doing this in Qt.

[2017-07-24 05:21] lachs0r commented on #336
Thanks for making it possible!
Yeah, I’ve noticed this with other applications. I didn’t get around to working on the build system yet, but I’ll do that later today, and fix this in the process.

[2017-07-24 17:19] zebastian commented on #336
@probonopd
we determine the shareddir in the following way:

[code]

see usage in https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/src/system.cpp

When we can determine this path with appimages somewhere else it should be fine. We only need to make sure, that it will still be compatible with windows, osx, and simple installed version under linux.

[2017-07-24 19:20] probonopd commented on #336
You need to make the path relative to the running executable, e.g., using `QCoreApplication::applicationDirPath()`. See http://archives.seul.org/tor/cvs/Mar-2012/msg00886.html for an example.

[2017-07-24 19:57] zebastian commented on #336
hmm, is there no dedicated path for the shared data of the program?
Some kind of environment variable, or pragma compiled into the AppImage?
Seems unusable to expect the data just relative to the location of the executed binary...

[2017-07-24 20:00] lachs0r commented on #336
But that’s how it usually works—even outside AppImage usage. Think of relocating a program to a different prefix.

[2017-07-24 20:51] probonopd commented on #336
If you use `QCoreApplication::applicationDirPath()` then it will work for all Linux builds, regardless of whether it is for an AppImage or not.

Based from `QCoreApplication::applicationDirPath()` you can of course add a _relative_ path for the shared data of the program, e.g., `../share/mandebulber2`.

[2017-07-24 21:51] mancoast commented on #336
In my opinion, reworking the share data folder to relative path improves portability of the system, increasing quality. @buddhi you are designer, what are your thoughts?

[2017-07-25 04:09] mclarekin commented on #337
The difference, between c++ and openCL renders of this setting file, is
possibly due to the difference between single and double precision

# Mandelbulber settings file
# version 2.11
# only modified parameters
[main_parameters]
ambient_occlusion_enabled true;
camera 5.215394199108069 -5.232049260538845 1.727236752137692;
camera_distance_to_target 0.0003689234727079349;
camera_rotation -7.48890967

[2017-07-25 09:08] zebastian commented on #336
I just read into the topic of AppImages, nice solution to get "batteries included" binaries. This will be great to incorporate in our travis file!

The relative directory solution is IMHO error prone to use for all linux compiling.
In general it should be /usr/bin/[application] and /usr/share/[application]/stuff, but the binary may be located somewhere else, maybe /usr/local/bin/[application] whic

[2017-07-25 11:28] mancoast commented on #336
I like the idea of a pragmatic, but is it required to select one or the other alternative? Can we support both alternatives with the same binary?

is it possible to scan for shared files in multiple locations, then support both relative and standardized locals?

[2017-07-25 14:41] probonopd commented on #336
Sure: check the path(s) relative to the application first, and if they don't exist, fall back to hardcoded absolute paths.

[2017-07-25 15:32] buddhi1980 commented on #336
@probonopd , this solution need many changes in the code. It's is good idea and doable, but now I have another priorities (OpenCL)

For short therm solution I like proposal of @zebastian to define new makro SHARED_DIR_IS_APP_DIR which could do the same as for WIN32
```(systemData.sharedDir = QDir::toNativeSeparators(QDir::currentPath() + QDir::separator());)```

[2017-07-25 15:34] buddhi1980 commented on #337
First we should check all formulas with CPU. Some of them now works different than in 2.11. Then we can continue checking OpenCL formulas.

[2017-07-25 16:00] zebastian commented on #337
BTW: the "test render examples to folder" - cli option is half ready. Will finish this later today,...

[2017-07-25 17:12] probonopd commented on #336
@lachs0r can you add that to your OBS appimage.yml please?

[2017-07-25 17:21] lachs0r commented on #336
On 2017 M07 25, Tue 19:17:08 CEST probonopd wrote:

Done.

[2017-07-25 17:26] lachs0r commented on #336
Except I forgot to update the package to use git master. Fixing.

[2017-07-25 18:01] zebastian commented on #336
I just tried the installation from here:
https://software.opensuse.org//download.html?project=home%3Alachs0r%3Amandelbulber2&package=mandelbulber2
which ran fine, when i then try to execute mandelbulber i get the following issue:
mandelbulber2: /usr/lib/x86_64-linux-gnu/libQt5Multimedia.so.5: version `Qt_5' not found (required by mandelbulber2)
mandelbulber2: /usr/lib/x86_64-linux-gnu/libQt5Test.s

[2017-07-25 18:03] probonopd commented on #336
@zebastian please try the AppImage, it bundles the required subset of Qt and should therefore run on your system.

[2017-07-25 18:13] zebastian commented on #336
@probonopd thanks, appimage runs.
Only thing missing are a couple of icons, which are part of the theme (but these are also bundled as a fallback for windows)

[2017-07-25 18:18] probonopd commented on #336
Can you please post a screenshot? Thanks @zebastian

[2017-07-25 18:21] lachs0r commented on #336
Might have to add an icon theme to the ingredients then.

Also, we’re getting build failures on newer distros:
[code]

[2017-07-25 18:26] zebastian commented on #336
Sure, some missing locations marked in red:
![appimages-missing-icons](https://user-images.githubusercontent.com/7888201/28587400-5717862a-7177-11e7-9d58-97007639b67c.png)

@lachs0r I just introduced an issue, which i solved with the latest commit, should be compilable now with latest master

[2017-07-26 21:28] zebastian opened #340 "opencl not working on cli"
Get the following error:
[code]
Probably due to dependency on running and connected x-server?

Here is the full output
[code]

[2017-07-27 04:42] mclarekin commented on #337
"test render examples to folder"

I will be very interested to find out which are different.

AboxMod2,  will be completely different in example and the formula icon
png.  Some other minor corrections may make some differences, depending on
what parameters were used in the examples.

 There are only two things outstanding things I have yet to complete in c++
:

a) I am still testing the old slot#1

[2017-07-27 10:37] mancoast opened #341 "Mandelbulber #360 Music Visualization"
Greetings,

I have compute resources to execute large operations, but I am short on time to design the fractal settings files.
I seek interesting settings files for animation by sound of the following tunes:

Offenbach Can Can Music
Für Elise (Piano version)
Mussorgsky Night On Bald Mountain
Rossini William Tell Overture: Final
Johann Strauss II The Blue Danube Waltz
Beethoven's 5th Symphony
Reel

[2017-08-04 00:39] Starmute opened #342 "when server is shut down and started again, macOS clients do not reconnect automatically"
##### System information (version)

- mandelbulber2 => :grey_question:
- Operating System / Platform => :grey_question:
- Compiler => :grey_question:

##### Detailed description

##### Steps to reproduce

[2017-08-04 00:40] #342 closed

[2017-08-07 21:04] zebastian commented on #147
now all header includes are in one ordered format.
cmake and qmake on linux checked, hopefully msvc is fixed now, looks promising:
https://ci.appveyor.com/project/buddhi1980/mandelbulber2/build/1.0.1.0.0.7.826-master

@buddhi1980 what do you think about the new format? https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/src/animation_flight.cpp#L41

Please reopen, if i should cha

[2017-08-07 21:04] #147 closed

[2017-08-08 05:53] zebastian opened #343 "crash on close"
When the program is closed it crashes with a segmentation fault.
Maybe a use after free of one of the global vars?

[2017-08-12 13:47] zebastian opened #345 "opencl misc meta update"
a couple of files need to be changed for the first release of opencl:
- READMEs should contain section about opencl and required dependency
- make-package.sh needs to be adopted
- probably more...

[2017-08-12 13:48] zebastian commented on #343
should be fixed, before next release...

[2017-08-12 13:49] zebastian commented on #340
if possible, should be fixed before next release...

[2017-08-12 13:54] zebastian commented on #336
@lachs0r Can you fix the icon issue? Do you need something from us to fix this?

[2017-08-12 13:56] zebastian commented on #309
rescheduled for 2.13, since this is a really big topic...

[2017-08-12 13:59] zebastian opened #346 "opencl Mesh export"
moved from this issue:
https://github.com/buddhi1980/mandelbulber2/issues/255

[2017-08-12 14:01] zebastian commented on #255
mesh export moved to here: https://github.com/buddhi1980/mandelbulber2/issues/346
Rest of this issue has been realized more or less with current opencl implemenation, new points can be opened in new issue...

[2017-08-12 14:01] #255 closed

[2017-08-12 14:04] zebastian commented on #289
@mancoast No, there is no morphing between queue elements. That would not be intended.
Render queue can also hold animations as items and there is no morphing between different animations. IMHO: Queue is already confusing and messy enough :)

[2017-08-12 14:07] zebastian commented on #184
imho "v1 coordinates" is legacy which should be contained and does not cause too much conditional code in current development.
maybe just put an info into the qgamepad UI which says "(does not work properly with v1 coordinates)"?

[2017-08-12 14:08] zebastian commented on #184
I can do this, if you agree...

[2017-08-13 15:43] #289 closed

[2017-08-13 16:05] buddhi1980 commented on #343
I cannot reproduce this problem.
Try to do clean build and check again.
I'm going to check for sure with valgrind if everything is all right.

[2017-08-13 19:03] zebastian commented on #343
tried a clean build, still getting sigsegv on close of application.

[2017-08-13 19:14] buddhi1980 commented on #343
can you run this with debugger to find where it crash?

[2017-08-13 19:25] zebastian commented on #343
ok, compiling for debug...

[2017-08-13 19:33] zebastian commented on #343
Hmm, looks strange.
No direct mandelbulber code involved:
![grafik](https://user-images.githubusercontent.com/7888201/29252845-f89c9192-806e-11e7-8a8d-56681433980d.png)

[2017-08-13 19:37] buddhi1980 commented on #343
Do you use Gnome or KDE? Have you tried with another skin/theme in Mandelbulber? It can be related to system window compositor.

[2017-08-13 20:33] zebastian commented on #343
I am running gnome on fedora. changing theme has no effect.

[2017-08-13 20:33] zebastian commented on #343
tried both available themes: fusion and windows

[2017-08-14 00:49] mancoast commented on #309
Good plan, I am excited to get back at it here soon.

[2017-08-14 00:51] mancoast commented on #184
Please do, I am time constraint at the moment

[2017-08-15 06:37] zebastian opened #348 "make formula cl files self dependent"
all cl files should have one include: cl_kernel_include_header_wrapper.h
This file contains the include and define code now present in opencl_engine_render_fractal.cpp

This way the formulas are compilable stand alone and
- can be analyzed with an opencl debugger (for example CodeXL)
- can be checked easily for validity with clang-cl

[2017-08-15 16:08] lachs0r commented on #336
See AppImage/AppImages#88. Qt is unable to select the correct theme, hence you don’t see any theme icons. There’s a workaround though (packaging Oxygen icons and moving them to the “hicolor” icon theme directory, which is the default fallback). Latest AppImages should “work”.

[2017-08-15 18:48] zebastian commented on #348
i am halfway through. i probably finish this tomorrow...

[2017-08-15 18:53] zebastian commented on #336
thanks, looks good now.
But I dont understand, why there are missing in the first place. In windows there is no matching theme either, this is why we have all used tango items bundled with the application and use these svg icons as a fallbak for each icon usage, see here for example: https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/qt/dock_queue.ui#L47
I would have thought, if

[2017-08-16 06:38] zebastian commented on #345
Still missing:
- OpenCL part
- documentation part (new pdf)
- rechecking of all packages
- appimage resource
- packages for other distros
- installation maybe do with make install (needs to be added to pro file)
- recombine mandelbulber.pro and mandelbulber-opencl.pro

[2017-08-16 20:45] zebastian commented on #348
done with latest commit

[2017-08-16 20:45] #348 closed

[2017-08-20 11:06] mclarekin commented on #300
some pseudo palette controls have been tested in transf_hybrid_color

[2017-08-21 19:17] mancoast commented on #336
@lachs0r @zebastian
I remember icons were broken in windows build for a minute.
Had to include $(QtDir)\plugins\iconengines
Hope this helps!
https://github.com/buddhi1980/mandelbulber2/blob/master/mandelbulber2/msvc/mandelbulber2_autogen.vcxproj#L321

[2017-08-21 19:19] mancoast opened #350 "fix openexr for travis"
Any thoughts?

[2017-08-21 19:19] mancoast commented on #346
I am ready to 3d print!

[2017-08-21 19:21] mancoast commented on #330
ref: https://github.com/buddhi1980/mandelbulber2/issues/339 for cli requirement
ref: https://github.com/buddhi1980/mandelbulber2/issues/285 for Save Images From Benchmark

[2017-08-21 19:23] mancoast commented on #312
ref: https://github.com/buddhi1980/mandelbulber2/issues/339 for cli requirement
ref: https://github.com/buddhi1980/mandelbulber2/issues/285 for Save Images From Benchmark
ref: https://github.com/buddhi1980/mandelbulber2/issues/330 for OpenCL Benchmark

I will gladly automate report generation, we need the pre-requisite issues solved.
Then we can calculate the difference of CPU - GPU code.

[2017-08-21 19:27] mancoast commented on #337
ref https://github.com/buddhi1980/mandelbulber2/issues/312 Autonomous SBS report of CPU - GPU

[2017-08-21 19:38] buddhi1980 commented on #336
It was missing only in msvc build. In mingw build it was already included.

[2017-08-21 19:46] mancoast commented on #336
sounds right, btw msvc build needs updated to 2017.
still working on gsl nuget for 2017

[2017-08-21 20:57] zebastian commented on #350
I wish i got a got a dollar for every minute i spent fumbling with compiling with openexr.

in the travis ci build we install openexr with:
brew openexr ilmbase
Then in the qmake/common.pri we append the include of the library with pkgconfig.
packagesExist(IlmBase){
        PKGCONFIG += IlmBase
        LIBS += -lIlmImf -lHalf
        DEFINES += USE_EXR
        message("Use IlmBase library for EXR

[2017-08-21 21:25] mancoast commented on #350
my openexr pull request has been waiting almost 1 year, lol
https://github.com/openexr/openexr/pull/218

the images truly look amazing with the RGB information && information in the z-axis.
It would be a nice feature to support MultiResolution.
REF: https://github.com/openexr/openexr-images/blob/master/MultiResolution/README

[2017-08-22 04:39] buddhi1980 commented on #350
I also wish to have openexr working with mingw. Compilation process is quite strange, because it generates executable files which creates some parts of the code. This part of compilation fails.
@mancoast , if you really want to play with exr images, just run mandelbulber under Linux. I don't suppose to have quick solution for another platforms.

[2017-08-22 18:50] mancoast commented on #350
OpenEXR operates correctly with MSVC build.
However, I am unfamiliar with how to use it.
Can the fractals benefit from EXR file format for stills, how about for vids?
Whats the big advantage?

[2017-08-22 19:36] buddhi1980 commented on #350
Just save image in EXR format and use it in programs like Blender where you can use different layers of image for texture properties. Thanks to half-float format the z-buffer is very accurate and images fit well to use as HDR textures. In general it's for advanced 3D graphics designers.

[2017-08-24 12:31] rconcept opened #351 "2.12_alpha6_win64: Error during compilation of OpenCL program."
##### System information (version)

- mandelbulber2 => mandelbulber2-win64-2.12-alpha6
- Operating System / Platform => Windows 64 Bit 16GB RAM
- GFX => NVIDIA GeForce GTX 960 / 2GB
- DirectX => 12.0

![mandelbulber_v2 12_a6_cl_compile_error](https://user-images.githubusercontent.com/15924913/29659737-76a2b7f8-88bf-11e7-86b8-3ba52fabd5ba.png)
![mandelbulber_v2 12_a6_cl_prefs](https://user-images.g

[2017-08-24 14:10] buddhi1980 commented on #351
Thanks for the report.

This problem with spaces in file path is related to nvidia driver. It works properly with Intel and AMD. Fortunately there is workaround for it. I will try to implement it as soon as possible.

https://forums.khronos.org/showthread.php/8478-Putting-a-space-in-path-supplied-to-clBuildProgram()

Quick solution for you will bo to move the program to a folder where path doesn't

[2017-08-24 14:16] rconcept commented on #351
Thank you for your quick reply!
I removed the space (don't know how it got there, usually I never put spaces in my paths...),
and this resolved the problem.

[2017-08-24 15:08] buddhi1980 commented on #351
Issue is still not solved. Removing of spaces from path is just a workaround.

[2017-08-24 18:36] buddhi1980 commented on #351
It's much more difficult as I thought. I cannot use syntax like this:
```#include "INCLUDE_PATH_CL_DATA/defines_cl.h"```
This will not work as a macro.

Actually only way is to make auto-generated cl_kernel_include_headers.h at runtime.
We can make file like this:

[code]
and then replace INCLUDE_PATH_CL_DATA with valid path using some function in in cOpenClEngineRenderFractal class. Then it can b

[2017-08-25 21:09] buddhi1980 commented on #351
@zebastian, I don't believe but it works very well (tested path with spaces under Win10). I have already tried the same but probably I did some mistake. I was focused on reported bug reports, maybe that's why I haven't tried this again.
Many thanks for fresh view of the problem.

[2017-08-25 21:09] #351 closed

[2017-08-26 06:11] buddhi1980 opened #352 "pasting julia values crashes mandelbulber"
Bug reported by taurus

The background: I often process mandelbulber values externally (eg spreadsheets, csv), mostly for generating pseudo random fields for animations. I use them to find new/modified forms. Julia parameters are often used for external processing.

http://www.fractalforums.com/bug-reporting-b231/pasting-julia-values-crashes-mandelbulber/

[2017-08-26 09:51] zebastian commented on #351
glad this helped.
Sorry you were busy on this, since i introduced the problem in the first place.

[2017-08-26 15:40] rconcept commented on #351
I tried [Zebastian's changes in yesterday's commit](https://github.com/buddhi1980/mandelbulber2/commit/12199c4ee6dd11a1f011ecb63101054035f5d0c7) and there are no more problems when there are spaces in the executable's path.

Thank you for your quick fixes!

[2017-08-26 19:16] buddhi1980 commented on #351
@rconcept , thanks for the feedback.

[2017-08-29 04:47] #340 closed

[2017-08-29 05:12] zebastian opened #353 "formulas - copy paste error"
This looks like z.y should be z.z:

if (z.y != oldZ.z) aux.color += fractal->mandelbox.color.factor.z;

There are a couple of those in fractal_formulas.cpp
@mclarekin can you check?

[2017-08-29 07:19] mclarekin commented on #353
thanks, fixed, I had forgotten to look for the rest of them :)

https://github.com/buddhi1980/mandelbulber2/commit/21fb78e5edfcb386964ffd2d00a44bb724ffbfae

[2017-08-29 07:19] #353 closed

[2017-08-29 13:42] mancoast commented on #340
Thanks!

[2017-08-31 21:06] mclarekin opened #354 "UI quaternion scale z.w not resetting correctly"
Open Quaternion 4D, reset UI produces 2.0,

 if you reset the parameter spinbox then you get the correct default 0.0

[2017-09-01 17:12] buddhi1980 commented on #354
Fixed in commit https://github.com/buddhi1980/mandelbulber2/commit/960e63f28655663ddcdfb4be1a44b4b33aaff59c

[2017-09-01 17:12] #354 closed

[2017-09-06 20:24] zebastian commented on #304
@mancoast please close or comment

[2017-09-06 20:27] zebastian commented on #305
This could be quite interesting,
 please share when you have results for the shaders / DE-functions.

[2017-09-06 20:36] zebastian commented on #310
Is this still a thing?
@mclarekin Do you still need any new methods in algebra about CVector* classes.
Do you still need a
 inline CVector4 &operator+=(const CVector3 &v)
?
Your example seems alright, but if you are uneasy with changes there let me know what you need.

[2017-09-06 21:24] mancoast commented on #304
I will test and recreate issue if needed. Plz feel free to close.

[2017-09-07 05:45] mclarekin commented on #310
I will have to remember what I was taking about. Whether we needed them or
that I just noticed that those combinations were missing. I will check.

BUT, on a similar subject. I did not update these to CVector4 because I was
unsure if there would be any problem with them being used in a 3D matrix.
Is is safe for these to be updated to CVector4???

    CVector3 rotation; // vec3s
    CVector3 rotati

[2017-09-07 05:55] zebastian commented on #304
Aleight

[2017-09-07 05:55] #304 closed

[2017-09-07 07:42] zebastian commented on #328
Hi,
(a) soft kick will be effectless, since the client will reconnect right away
(b) hard kick
could be interesting. If the headless client hangs for some reason it can kicked and killed. A watchdog on the client could restart the Mandelbulber instance and reconnect. This could be a complete hard failover.
@buddhi1980 what do you think?

I can implement this, if we want this feature.

[2017-09-07 08:01] mclarekin commented on #310
a) I was wondering if updating these parameters into a CVector4 container
is necessary as we have :
algebra.hpp 384
    inline CVector4 &operator*=(const CVector3 &v)
    {
        x *= v.x;
        y *= v.y;
        z *= v.z;
        w *= 1.0;
        return *this;
    }

I can not remember what the above was about. So can ignore,

b) also I was wondering if  an inline vec4 + vec3 was worth havin

[2017-09-09 05:17] zebastian commented on #184
DONE

[2017-09-09 05:17] #184 closed

[2017-09-10 19:47] zebastian opened #355 "add tests for opencl specific testing"

[2017-09-13 07:11] mclarekin opened #356 "Sensitivity of sliders"
AT  FF Timemit asked if Mandelbulber2 had this feature.

In Fragmentarium you can right click on a slider and change which decimal place the slider works on.

BTW And there is still the unsolved other problem with sliders and dials

[2017-09-15 10:43] #343 closed

[2017-09-15 16:07] #336 closed

[2017-09-15 16:09] mancoast opened #357 "Review CMake Refactor"
qmake needs to be corrected
cmake needs to be corrected for linux
osx needs to be checked
cross compiler build scripts need to be reviewed
packaging scripts need to be reviewed

@lachs0r Do you have any comments on these TODO's?

REFERENCE:
https://github.com/buddhi1980/mandelbulber2/commit/25c5aacd37918c051a17f436ca555d30a4324357?diff=split

[2017-09-15 16:10] mancoast commented on #350
tabled for later

[2017-09-15 16:10] #350 closed

[2017-09-15 16:11] mancoast commented on #341
system no longer available

[2017-09-15 16:11] #341 closed

[2017-09-15 16:12] mancoast commented on #339
any idea on schedule for this issue?
this feature is blocking other TODO's.
Please prioritize.

[2017-09-15 16:13] mancoast commented on #337
https://github.com/buddhi1980/mandelbulber2/issues/339 Please enable CLI with opencl.
I will then recheck/upload all example files

[2017-09-15 16:14] mancoast commented on #323
any updates?

[2017-09-15 16:16] mancoast commented on #330
@zebastian @buddhi1980 please enable CLI with opencl.  enable me to automate verification and validation.

[2017-09-15 16:23] mancoast opened #358 "Discuss 2.12 Milestone."
Any thoughts?

[2017-09-16 05:22] zebastian commented on #330
cli with mandelbulber already works basically.
Needs to be added to the test class...

[2017-09-16 05:23] zebastian commented on #339
basically done, still needs opencl functionality properly exposed through cli options and documentation.
Why is this feature blocking?

[2017-09-16 05:25] zebastian commented on #357
everyone who is involved with this should take a look at their parts asap. Since the code base now is broken!

[2017-09-16 06:08] buddhi1980 commented on #357
@mancoast , all these TODO's should be done before merging this request. Pull request is a branch, so it's not a problem to add more commits and test them before merging.
Now you should focus on fixing all problems instead of listing TODOs.
I'm away from home next few days, so I'm not able to help in correcting scrips. I will return to this topic in Thursday.

@lachs0r, your pull request is very g

[2017-09-16 13:48] mancoast commented on #357
do Not be concerned, these updates are helpful and easy to accommodate. In the mean time, keep changes to cmakelists and roll back changes to codebase.

[2017-09-16 14:08] mancoast commented on #357
symlinks and changes to system.cpp restored; changes contained to CMAKElists.txt; i do think this merge broke the build... it was already broken.

1.) qmake - unchanged! ==> does not reference CMAKElists.txt
2.) visual studio build - success
3.) cmake for linux *untested*
4.) cmake for osx *untested*
5.) cross compiler - does this reference CMAKElists.txt?  <==??
6.) packaging scripts - does this

[2017-09-16 14:22] mancoast commented on #339
We should remove the barrier so I can allocate some heavy resources towards testing.
The CLI enables automation and scripting of tests procedure/report generation for V&V.

[2017-09-17 07:28] mclarekin opened #359 "standardize color picker for all OS"
use option QColorDialog::DontUseNativeDialog to have always the same appearance of color dialog on every operating system.

[2017-09-17 09:06] zebastian commented on #359
@mclarekin For me both pickers look the same on fedora.
Can you now check with newest commit if the color picker looks like this:

![bildschirmfoto von 2017-09-17 11-05-27](https://user-images.githubusercontent.com/7888201/30519491-35c93f90-9b98-11e7-9061-4ad900270619.png)

[2017-09-17 09:25] mclarekin commented on #359
yes looks very much like yours, but mine is in english LOL.

Thanks that how I like it :)

On Sun, Sep 17, 2017 at 9:06 PM, Sebastian Jennen <notifications@github.com>
wrote:

[2017-09-17 09:34] zebastian commented on #359
Oh no, not in english! CRITICAL LANGUAGE BUG 🤣

[2017-09-17 09:34] #359 closed

[2017-09-17 11:38] zebastian commented on #339
half way through, still missing are the TODO flags in the cli output of --help-opencl

[2017-09-17 17:41] mancoast commented on #339
@zebastian you are crushing it; thanks!

[2017-09-17 21:59] mancoast opened #361 "resolve conversion from 'size_t' to 'int', possible loss of data"
There exists over 30 instances of warnings from conversion from 'size_t' to 'int', possible loss of data.

REF:
https://ci.appveyor.com/project/buddhi1980/mandelbulber2/build/1.0.1.0.0.7.981-master/job/cyumth9i7oxmwj7m/messages

[2017-09-19 07:09] zebastian opened #362 "crash on click while dof"
clicking on the render window while dof is in progress causes crash

[2017-09-19 18:30] buddhi1980 commented on #362
Probably fixed. There was 'throw' without 'catch' in the code

[2017-09-21 18:18] mancoast opened #363 "Changed rendering from line-by-line to rect-by-rect in CPU code."
Greetings @buddhi1980

Please enable rect-by-rect in CPU code.
Also, please enable the spiraling out from the center.

REF: https://github.com/buddhi1980/mandelbulber2/commit/da285c956a0f249d0a3739291280b7883ebbc8ec
https://github.com/buddhi1980/mandelbulber2/commit/0a45b8ec6505e2c43edd26d71e6d6740cf201f17

Thanks,
coast

[2017-09-21 19:49] buddhi1980 commented on #363
For CPU it will be less effective. Then won't be possible to have progressive rendering and effective scheduling between threads and over the network.
For GPU rendering it was needed to optimize SIMD operations. It is not applicable for CPU with 8 cores.

[2017-09-21 19:54] mancoast commented on #363
I understand the increased difficulty, however I feel that symmetry between CPU and GPU code increases SIMD operations to both CPU and GPU.  Is it possible?

[2017-09-21 21:06] mancoast opened #364 "Benchmarking options : enable both benchmark Output directory && benchmark log file"
Greetings,

I am struggling to get the benchmark to operate.
My questions:
1.) does --output not work anymore?
2.) when I use -o c:/somedir/somesubdir the system operates, but how to I use CSV?
3.) any thoughts to create a separate CLI variable for full path (dir and filename) of logfile?

consider CLI for --logfile [or -l] c:/somedir/somesubdir/myawesomelog.txt
consider CLI for --logfile [or -l]

[2017-09-21 22:56] mancoast commented on #364
@zebastian you understand the CLI better than I do, can you please explain why https://github.com/buddhi1980/mandelbulber2/commit/29046f0126acfb80d5aa732170b5992fcb9c3d99 always crashes when I specify logfilepath on CLI?

[2017-09-21 23:02] mancoast commented on #337
https://github.com/buddhi1980/mandelbulber2/commit/28b6df0527591e7d89e0c81dc8ed1204f46bf633

benchmark now tests >300 examples.

[2017-09-21 23:05] mancoast commented on #286
https://github.com/buddhi1980/mandelbulber2/commit/d99dedeed353f56f7c1aab373ea9bd74d4ecc19c adds timing data to the benchmark loop

@zebastian @buddhi1980 we require a method to extract and summarize the features from settings file
any ideas?

[2017-09-21 23:08] mancoast commented on #76
possible to diff compare CLI : "L", "list" [Lists all possible parameters '<KEY>' with corresponding default value '<VALUE>'] with an output of all the current settings?

[2017-09-22 06:46] mclarekin opened #365 "bounding sphere"
http://www.fractalforums.com/feature-requests/bounding-sphere/
from Kyzia

"I've  been playing around with the bounding box feature in the Rendering  Engine tab, and achieved what I think are some decent results (like in this example), and it occurred to me that there could be some potential in having the option to set a spherical rather than cubic bound.I  hope this request is sufficiently self-e

[2017-09-22 08:28] zebastian commented on #363
BTW: When your CPU already speaks OpenCL, you can also use the "tile rendering"